[2017-11-04 12:34] fsolar opened #1 "Not possible to install"
Im getting this error after "yarn add firestore-react-mobx":

`
yarn add v1.1.0
[1/4] Resolving packages...
error Couldn't find package "firestore-react-mobx" on the "npm" registry.
info Visit https://yarnpkg.com/en/docs/cli/add for documentation about this command.
`

same with npm

[2017-11-04 12:50] IjzerenHein commented on #1
Hi, cool for trying out my new package! I just started it and hadn't published to npm yet. Just published it, should work now. 🖖

[2017-11-05 12:43] IjzerenHein commented on #1
Hey, I've made some changes to the API to make it easier to use. Also, I've added API documentation with examples to help anyone get started.

Let me know whether I can close this issue.

cheers, Hein

[2017-11-05 21:15] fsolar commented on #1
Hi, I'm trying the example now. I'll tell you later, thanks!

[2017-11-05 21:22] IjzerenHein commented on #1
Cool, let me know if you have issues.

[2017-11-06 07:47] fsolar commented on #1
Hi, im working with this repo [https://github.com/rwieruch/react-mobx-firebase-authentication](url) wish already include react router v4, mobx and firebase authentication, so is a good starting point. But i cant make it work with your repo... 😞

[2017-11-06 08:47] IjzerenHein commented on #1
If you can tell me what's not working, I can maybe help you. Do you have a public repo I can take a look at?

[2017-11-06 18:40] fsolar commented on #1
Yes [https://github.com/fsolar/cjm33_2](url). create-react-app bootrasped.
Key info in the Readme.md. Thanks a lot!!!!

[2017-11-06 19:37] IjzerenHein commented on #1
My god, your code is a mess..

Anyway, I think this is the reason of the error:

IngresoDeVehiculos.js
[code]

You forgot to actually call the renderCars function. It should be `{this.renderCars()}`

[2017-11-06 19:54] fsolar commented on #1
Hahaha yes I know... I'm a web designer and I'm new to the React world and JS ecosystem, but thanks again, that worked, it was just a typo.

[2017-11-06 19:59] IjzerenHein commented on #1
Your welcome 👍

[2017-11-06 19:59] #1 closed

[2017-11-26 02:47] wirelessed opened #2 "this.getFirestore is not a function"
Hi!

I'm testing your script to use with firestore and when setting a .path, there's some issues:

In my code:
`programme.path = 'docs/' + this.props.doc.id + '/programme';`

An error appeared:

`Uncaught TypeError: this.getFirestore is not a function
    at Collection.set `

I was following your example of using the store.js to store all the collections and documents.

[2017-11-26 15:05] IjzerenHein commented on #2
Hi! Oops, that's not right. I've just pushed the fix, thanks for letting me know.

[2017-11-28 08:35] wirelessed commented on #2
Hi!

Thanks for the quick response. It seems to work now.

However, I discovered another problem. Whenever I tried to declare an anonymous path in store.js in your example:
`programme: new Collection()`
and I try to change the path `programme.path = ...`
I will get an error:
`Uncaught TypeError: Cannot read property 'id' of undefined
    at Collection.get (VM9620 firestorter.js:838)
    at Collect

[2017-11-28 09:05] IjzerenHein commented on #2
Ugh, I've clearly not done enough testing here. It's probably a simple fix, I will look into when I have some time.
Thanks for testing!
Cheers

[2017-11-29 19:42] IjzerenHein commented on #2
Hi, I've fixed the issue and released it as `v0.6.3`.
Regards, Hein

[2017-12-01 08:42] wirelessed commented on #2
Hi!
Thanks for the fix! Works 👍

[2017-12-01 08:42] #2 closed

[2017-12-02 03:09] wirelessed opened #3 "Feature - Get all collections from a document?"
Hi Hein,

I have nested collections within a document. Is there a function to get all collections from a document?

[2017-12-03 14:35] IjzerenHein commented on #3
Hi Colin!

No there isn't yet. It's one of the next features on my list, together with schema-support. I checked the firestore API, but there doesn't seem to be a way to enumerate the collections of a document. So basically, I think this is something that needs to be handled on the client side. I was thinking of making this part of a document schema, in which you can specify data-types and collect

[2017-12-04 00:17] wirelessed commented on #3
Hi Hein

What I'm trying to achieve is to duplicate a document and its subcollections. So I can easily copy the DocumentData, but since there's no way to getSubCollectionsFromDocument, I've to manually specify which collections I know are in the document and then copy their data out in a loop.

[2017-12-12 23:46] chetmurphy opened #4 "Typescript"
Are there any plans to support typescript?

[2017-12-13 21:17] IjzerenHein commented on #4
As in, do you mean to provide typings?

[2018-01-01 09:04] wirelessed opened #5 "Unable to set Document path directly with new Document()"
Hi
I think the `new Document()` function is not working correctly.
When I try
`const myDoc = new Document("users/" + userid + "/docs/" + docid);`

This error appears:
`Uncaught (in promise) Error: Invalid collection reference. Collection references must have an odd number of segments, but <myfilename> has 4`

However, when I try the following, it works perfectly.
`const myDoc = new Document();`
`m

[2018-01-01 10:47] IjzerenHein commented on #5
Huh, that is weird indeed. I'm gonna have a look whether I can reproduce it 👍

[2018-01-01 10:51] IjzerenHein commented on #5
Hi, after inspection I'm pretty sure this issue has already been fixed. It is fixed in v0.8.1, please upgrade to the latest version.

[2018-01-01 13:14] wirelessed commented on #5
great! thank you!

[2018-01-01 13:14] #5 closed

[2018-01-07 16:23] IjzerenHein commented on #3
Hi Colin, for the last month I pushed quite a few updates, and one of them is the ability to create "smart" path references to other collections and documents. You can then easily combine paths to create the path for a sub-collection. And you can even access document data. I've started documenting this feature, although the docs are not quite finished yet:(https://github.com/IjzerenHein/firestorte

[2018-01-08 09:00] wirelessed commented on #3
Hi Hein

This looks great! I will test out when I've time.
Regarding sub-collections, it looks like it will work with my project as well. But you'd definitely still need to know all the possible sub-collection names?

A side question that's not related - Because of how MobX observables work, when i'm running a react function based a user action (e.g. button click), I'm unable to grab the data fiel

[2018-01-11 22:14] IjzerenHein commented on #3
Hey Colin,

To respond to that question, here is what I would do in that case, where you would have the need to fetch a fresh document:

[code]

or, when you already have a doc, but want to make sure the initial fetch on it has completed:

[code]

[2018-02-28 06:46] cworf opened #6 "Custom document ID's"
Hey,
A feature I used in a recent angular project while using the angularFire library was the ability to give a document a custom id instead of using the default format. That would be a really useful feature for this. Correct me if I somehow missed it in the docs. Thanks! Great work!

[2018-02-28 09:01] IjzerenHein commented on #6
Hi, you can do this already. Please check:
https://github.com/IjzerenHein/firestorter/blob/master/docs/AddUpdateDelete.md

Alternatively, you can use the Document interface to create documents with custom IDs:
[code]

[2018-02-28 21:30] cworf commented on #6
ah jeez sorry about that. Thats great thank you!

[2018-02-28 21:31] #6 closed

[2018-03-08 21:03] cworf opened #7 "Cant seem to get docs from nested collection"
I am having an issue with getting the array of existing docs from a nested collection, below is my code (simplified considerably from the original to just show the related problem):
[code]

I have followed your documentation for creating path references, reactive paths, ive even tried hard-coding a collection/documentID/collection path that I know for certain contains three documents, and each tim

[2018-03-08 21:31] IjzerenHein commented on #7
Hi Colin. I'm pretty sure the problem lies in the fact that you create a new Collection every time the `render` function is executed. The data is then fetched (asynchronously) and when available, the `render` function is called. But because it then creates a new Collection, you have no way of accessing the previously fetched collection.

I suggest creating the Collection in the constructor, and se

[2018-03-08 22:03] cworf commented on #7
thanks for getting back so quickly! I tried the following, but still returns array of undefined objects for docs.

[code]

`console.log(this.eventOrdersColRef.ref)` returns an object  that looks like the following:
[code]

the path is proper and has docs in it. but im not sure how to pull them out of this reference.

[2018-03-09 07:02] IjzerenHein commented on #7
I don't quite understand what's going on, but lets try to do this properly and see what the result is. This is how I would define a Collection in a Component and update its path accordingly when the `eventDoc` prop changes.

[code]

Could you let me know what this outputs on the console?

[2018-03-09 23:02] cworf commented on #7
the console outputs:
fetching: false
docs: ObservableArray (containing the same 999 undefined objects)

[2018-03-09 23:09] IjzerenHein commented on #7
This is what I would expect on the first call to render. However, there should be additional calls to render, indicating that it is fetching, and once done fetching, the docs prop should contain the result.

It almost seems like the Collection is not being observed correctly.
Are you sure you've wrapped the component correctly with `observer`?

[2018-03-09 23:24] cworf commented on #7
ok yeah I was wrapping the export statement with the observer but after I wrapped the whole class in it, the resulting output is still fetching: false, HOWEVER, there are now three docs being returned! perhaps my console is just not catching the true value because clearly they are being fetched now. Thanks for your help!! I have another layer to jump down and ill report back whether or not it work

[2018-03-10 01:13] cworf commented on #7
It worked!
The document referenced another document in a different collection and I had to render that, so I had to create an additional component to pass the doc reference into via props. I guess the moral of the story is that no matter what, the references must be used in a constructor. thanks again!

[2018-03-11 10:25] IjzerenHein commented on #7
Alright, great to hear you've managed to fix the problem!
I'm not sure what you mean that the references must be used in the constructor though 🤔

And I really appreciate that would want to give a small donation for the project. I'm going to set that up with a link on the main README, and get back to you on that.

cheers!

[2018-03-11 10:55] IjzerenHein commented on #7
Hi, I've added a donate link:
https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=C7KAZKHW6MXYL

Cheers!

[2018-03-11 22:54] cworf commented on #7
Im talking about the document or  collection reference `const doc = new Document( ${documentPath} )` needing to be used in the class constructor instead of inside the render method.

[2018-03-12 20:11] IjzerenHein commented on #7
Right I see. Yes, the data needs to be fetches from firebase back-end, and therefore you cannot just create Collections or Documents in the render method and expect them to have data. You'll need to either store the data in a store or create the Document/Collection and add it to the state/members of the Component. When rendered, Firstorter will then start fetching the data. And because of the obse

[2018-03-12 23:57] cworf commented on #7
I am now experiencing another issue which was not immediately apparent. but to be honest this one seems kinda buggy. I am doing everything as we have discussed in this thread, sending a component a document path as a prop, calling the new document path in the class constructor, and displaying document fields in the render method. I even included your snippet for the componentWillRecieveProps metho

[2018-03-13 20:13] IjzerenHein commented on #7
Hi Colin, first of all thanks for the Donation, really appreciate it!

The reason your getting that error, is because on the first render in this example, the data has not yet been fetched from the back-end. Which means that `document.data` returns an empty object. In that case the line `name.first` will throw an error in your code.

You could for instance check whether the document has data, like

[2018-03-14 16:01] cworf commented on #7
wow, thank you. that did the trick.
Im confused though, isnt that the point of the mobx observable and observer though? to make the component only render when the asynchronous event is ready? I guess observervables are still quite over my head either way, so Ill just stop making assumptions about what they do, haha!
Many thanks for your help, I have learned quite a bit from this issue :)

[2018-03-18 09:14] DennisSchmock opened #8 "Breaking changes in Mobx?"
Hi.

Thank you for this great module. I am really enjoying using it in my web-app, saving me a ton of boilerplate.

But after updating Mobx to the newest version it stopped working for me:

I have run several test with brand new Create-React-App projects, and the result is the same each time

**From package.json**
firebase": "^4.11.0",
    "firestorter": "^0.9.3",
    "mobx": "^4.1.0",
    "mobx-r

[2018-03-18 09:33] daeniz commented on #8
Ok, there is breaking changes in Mobx4/Mobx-react5 when it comes to Firestorter. Just downgraded Mobx to version 3.4.1 and Mobx-react to 4.4.3 and now firestorter works again.

[2018-03-18 10:28] IjzerenHein commented on #8
Alright thanks for reporting man! I'll take a look at this shortly, for now please use mobx 3.x
Cheers

[2018-03-18 10:54] IjzerenHein commented on #8
Just for my own reference:
https://github.com/mobxjs/mobx/wiki/Migrating-from-mobx-3-to-mobx-4

[2018-03-18 20:20] daeniz commented on #8
Well, thank you again for your effort with this plugin. It really rocks.

[2018-03-19 20:21] IjzerenHein commented on #7
Hey Colin. Well, actually no. Observables don't imply anything about asynchronous behaviour. Instead, they are about monitoring changes at a fine-grained level. As in, only re-rendering a component when only the data that it needs has changed.
Your component will always render, even if the data hasn't been fetched yet. And this is actually what you want to happen, because now you can optionally re

[2018-03-19 20:21] IjzerenHein commented on #7
Mind if I close this issue?

[2018-03-19 20:23] #7 closed

[2018-03-19 20:55] IjzerenHein commented on #8
Hey man, thanks so much for the donation, I really appreciate it!
I'm gonna add you to the list of backers. Cheers dude!

[2018-03-19 20:55] IjzerenHein commented on #8
Work in progress, just ran into this issue with mobx 4:
https://github.com/mobxjs/mobx/issues/1437

[2018-03-19 21:16] IjzerenHein commented on #8
Hi, I've pushed preliminary support for MobX 4 to the master branch. Still waiting on the previously mentioned issue before I'm gonna release this officially.

[2018-03-20 12:35] DennisSchmock commented on #8
Seems like that did the trick. Great work, and I hope the Mobx team picks up your issue fast :-)

[2018-03-23 18:20] cworf opened #9 "support for offline data?"
firestore documentation gives the following example of how to use there built in persistence function. Though it seems like since im using mobx/firestorter this may need to be implemented in a different way. Is this a feature I can utilize using the firestorter API?

[code]

[2018-03-23 19:09] joshua1 opened #10 "mbx-state-tree support"
Hi @IjzerenHein , I wanted to ask if it is possible to use this with mobx-state-tree and how

[2018-03-26 17:50] IjzerenHein commented on #9
Hey Colin, it's great than you mention this. This is an important feature to me, and I hope to get some time to implement/investigate this on short notice.

My initial thought is to allow initialisation of Firestorter with a promise that resolves to the firestore app object. And then it would work sort of like this:

[code]

[2018-03-27 18:45] IjzerenHein commented on #8
Hey Dennis, I've just released an official update that supports MobX 4:
https://github.com/IjzerenHein/firestorter/releases/tag/v0.10.0

Let me know whether I can close this issue?

cheers

[2018-03-27 19:12] IjzerenHein commented on #10
Hi Joshua, I'm going to take a look at this. And suggestions are welcome.

[2018-04-02 20:19] 0x80 opened #11 "How to declare a query in the Collection options?"
The docs claim that `query` is part of the options argument of the Collection constructor, but don't mention how to declare it. The only examples I found set the query on the already created collection reference like so:

[code]

How would you pass this query as part of the options?

[2018-04-02 20:40] IjzerenHein commented on #11
Hi Thijs. Currently you can pass in a Firestore Query object to the constructor. However, this is a somewhat cumbersome and verbose API and I have therefore not promoted it too much. It works like this:

[code]

I am however currently working on a new Query API which will solve this (amongst other things).
For now, I recommend however to follow the examples in the docs, and initialize the query af

[2018-04-03 07:49] 0x80 commented on #11
Yes, that seems really too verbose. And since you're referencing the album collection twice, it even feels wrong to me.

Wouldn't it be convenient to make the options.query a function which is passed the collection reference? Since that is what the query is built on. Something like this could work I think:

[code]

[2018-04-03 08:54] IjzerenHein commented on #11
Hey that's actually a really elegant solution, I hadn't considered that one, nice! I'll take it into consideration when I continue work on the Query API.

[2018-04-03 14:34] 0x80 commented on #4
Here's what I have so far. I put this in an ambient declaration file in my project (like `firestorter.d.ts`).

[code]

I made the types stricter then defined in the original source, because there's quite a few `any`s in there. And because it seems that `get` and `set` annotations are not supported by Typescript in ambient declarations, I didn't manage to find out how to declare thos. Since getters

[2018-04-03 15:40] 0x80 opened #12 "Some API suggestions"
As I was going through the code to write out Typescript definitions, I noticed a few things that I think could be improved on the API surface and and types.

First of all there are quite a few instances where a type is declared as `any`. For example the options to the Collection and Document constructors. I don't really see the point in using Flow if these things are not strictly defined.

Some of

[2018-04-03 16:45] 0x80 commented on #4
Hmm I should have probably checked my assumption about the getter/setter workaround 🙈 It is not actually working. I can not call the setter as a function. That means I'm stuck now. Not knowing how to implement proper types or these.

[2018-04-03 17:02] #8 closed

[2018-04-03 17:17] 0x80 commented on #4
It tuns out it is possible with the readonly keyword which is allowed in ambient declarations. Here's a working version with getters and setters:

[code]

[2018-04-03 17:17] IjzerenHein commented on #4
It's not possible to define getters/setters with TypeScript? 😳

That sounds good, having the types as strict as possible is better. I just made them any for the time being, until typings are properly supported.

Honestly, if it would make things a lot easier, I wouldn't mind converting Firestorter to Flow or even typescript. If we could then derive the typings automatically at least.
However, my F

[2018-04-03 17:19] IjzerenHein commented on #4
Nice!

[2018-04-03 17:19] 0x80 commented on #4
@IjzerenHein Cool, if you're willing to move to Typescript I can probably help out. I'm not interested in learning Flow at this point.

[2018-04-03 17:27] IjzerenHein commented on #4
@0x80 Hey no rush, that's how things go. I've got plenty of stuff to do myself as well. First I really want to get the improved query API (I'm probably gonna use your suggestion), persistency support and pagination in.

[2018-04-03 18:48] IjzerenHein commented on #11
Hey, I've finished work on the new query API & docs. I've taken your suggestion as I found it very elegant. This is how it will work:
https://github.com/IjzerenHein/firestorter/blob/feature-query-persistency-pagination/docs/Queries.md

Let me know in case you have any feedback on this.

[2018-04-03 20:05] 0x80 commented on #11
Awesome! That was quick 😄

I don't have any more feedback. It's looking good 👍

[2018-04-03 20:38] IjzerenHein commented on #11
Thanks!

[2018-04-10 06:58] joshua1 opened #13 "Cannot find modules"
I am importing firestorter modules like below
[code]
but getting the error
[code]
when i do
[code]

i get past that error but hit another in init.js where type reference ```initFirestorter(config:any)``` gives an error. what am i missing . I am trying to use this in a next.js app

[2018-04-10 21:36] IjzerenHein commented on #13
I have no idea to be honest.

What do you mean by `same with all other modules`:

Do you mean you are getting this error on other packages as well?

[2018-05-12 20:02] ckjpdx opened #14 "access doc.data outside of render()?"
Hello! Firestorter is awesome!

I'm trying to use information from a document.data reference outside of a render function. I'm displaying that info in render in several places on my app, and it's wonderful, but when I try to access doc.data in a onHandle function, for example, it returns the observable, or doc.data.someData will return undefined.

Is there some way to get info in JSON form outside

[2018-05-14 19:12] #13 closed

[2018-05-14 19:15] IjzerenHein commented on #14
Hi Chris,

What I think what's going on, is that `doc.data` is not being accessed from the render function. If that is not the case then firestorter will not consider the collection/document to be observed and not start real-time updating for it. Could you add a call `console.log(document.data);` to your render function and verify whether that fixes the problem?

cheers, Hein

[2018-05-14 20:05] cworf commented on #14
If you want to use observable data outside render, you need to send it to the function or method via curried function inside render. for example
[code]
Are you trying to access data on mount? then you should send it to the component via props and access it inside `componentDidMount()`

[2018-05-15 01:31] cworf opened #15 "unsafe lifecycle methods"
hey, a while back you gave me some advice on how to fix my problem getting subcollection paths from prop using the following method...
[code]
can you perhaps advise on how best to fix this method for the new safe static method `getDerivedStateFromProps()` which is to replace `componentWillReceiveProps()` in React v.17?

ive been at it for at least a few hours, and I cant seem to get anywhere close

[2018-05-15 05:40] IjzerenHein commented on #15
Hi Colin. So what I would probably do, is to move all the code to `getDerivedStateFromProps` like this:

[code]

This should handle the lifecycle and path update of the Document correctly.
I haven't tested this though, I will when I have a bit more time.
Let me know whether that solves it.

[2018-05-16 18:20] cworf commented on #15
Finally got around to testing this out, and it worked! I was definitely overthinking this. what makes this solution even better than the old `componentWillReceiveProps()` method which doesn't fire on first mount and only fires on successive mounts, as opposed to `getDerivedStateFromProps()` which fires on the first mount is that you no longer need to check for a snapshot using
[code]
not super exc

[2018-05-16 18:47] cworf commented on #15
Im sorry I lied about the `snapshot` thing. it must have been working for me via caching or something, but after refreshing again after a few minutes, I got an undefined error.

I mean you will get an error if you dont define the document in state as null like so

[code]

[2018-05-22 20:40] ckjpdx commented on #14
Yes, I needed to incorporate render() when working with any observable data. Thanks!

[2018-05-22 20:40] #14 closed

[2018-05-30 09:52] IjzerenHein opened #16 "Collection.add should not add document to the firestore DB when the schema is violated"
`Collection.add` doesn't check the schema prior to adding a document to Firestore. This can cause invalid documents to be added to the cloud.

[code]

[2018-06-01 13:14] 0x80 commented on #11
Hi @IjzerenHein I was trying out this API today but ran into a problem:

[code]

Here I am getting an error:

To solve this I am now doing it the old-school way:

[code]

Could it be that I am missing something?

[2018-06-01 13:18] kavaro opened #17 "doc.update({...}) throws validation error when document has schema"
Example test case and proposed fix.

[code]

[2018-06-04 21:29] IjzerenHein commented on #11
Hey Thijs. Hmm that's strange, that should have worked. Just so be sure, are you using v0.11 of firestorter?

[2018-06-04 21:52] IjzerenHein commented on #17
Hi, thanks for reporting this @kavaro ! I've just released an update v0.11.1 which fixes this problem.
Cheers!

[2018-06-04 21:53] #15 closed

[2018-06-05 13:37] 0x80 commented on #11
Somehow my version was still stuck on 0.10. I thought 0.11 would show up in `yarn upgrade-interactive` automatically but it doesn't.

It seems to work now! 👍

[2018-06-05 13:38] IjzerenHein commented on #11
Sweet!

[2018-06-05 13:39] #11 closed

[2018-06-06 09:47] 0x80 opened #18 "Side effects like changing state are not allowed at this point"
I am quite new to Mobx so I suspect this problem might not be be Firestorter specific, but I'm hoping you have clue anyway.

I have a list of document ids what I use to fetch single document data one by one. I have a store which contains a `Document`, of which I change the `path` property via a "Next" button click handler which calls an `@action.bound` handler on the store and sets the next id.

I

[2018-06-06 10:15] IjzerenHein commented on #18
Hi Thijs, I've only recently encountered this myself. The problem lies in the `fetching` prop which doesn't trigger a start of real-time updating in the higher up component, but it does in a component further down in the tree. The solution is to not only access the `fetching` prop but also the `data` prop in  the component higher up.
Let me know whether that works.

[2018-06-06 11:16] 0x80 commented on #18
🙌 🎉

I was getting pretty desperate trying out all different things for about a day 😅

I solved it by forcing mode = "on" on all documents:

[code]

[2018-06-06 18:06] IjzerenHein commented on #18
Thijs, could you show how you are using the `fetching` prop in your setup? I'm suspecting that to be related to the problem. The reason being that `fetching` is a bit special, it is the one of the few observables that can be changed during the execution of the `render` function (which may lead to such problems and I might change this behavior to be debounced).

[2018-06-11 07:54] 0x80 commented on #18
I am passing the observable documents into my view components and show a loading indicator. Something like below. `Document<T>` is just a typed version of a regular Firestorter document.

[code]

[2018-06-11 08:14] IjzerenHein commented on #18
Ah I see.

I think I know what the problem is. Accessing just the `fetching` property does not cause the documents to start real-time updating. In order for that to happen, the actual data needs to be accessed.

I ran into this myself and was thinking of a making a change to firestorter to mitigate this. I was thinking of introducing a property called `isLoading` which will replace `fetching`. Unl

[2018-06-11 14:17] steeltomato opened #19 "Collection.docs briefly reflects old documents when source changed"
I've noticed when changing the path on a collection in a component's constructor that React will render the old docs then rerender the new set once _updateFromSnapshot completes.

I tried avoiding this flash of stale data by rendering a loading indicator using Collection.fetching but I pretty consistently encounter #18 with that approach.

Would it make sense to proactively clear the _docs array i

[2018-06-11 16:40] 0x80 commented on #18
@IjzerenHein Thanks. For now my solution works with setting mode = on, but I'm looking forward to using the new isLoading getter. 👍for using the is* prefix 😄

[2018-06-11 20:09] #17 closed

[2018-06-11 20:52] IjzerenHein commented on #19
Hi Ken, thanks for reporting this. This is an interesting case. In case of changing the source, I can indeed imagine that the documents array is cleared.
Still, I don't quite understand why you would see a "flash" here, so I want to understand that better.
When changing the source, I would expect the `fetching/isLoading` value to change (docs remain unchanged), followed by a second render containi

[2018-06-11 21:37] IjzerenHein commented on #16
Fixed by v0.12.1

[2018-06-11 21:37] #16 closed

[2018-06-11 21:39] IjzerenHein commented on #12
Hi, some updates on this:

- `active` has been renamed to `isActive`
- `fetching` has been renamed to `isLoading` + slight behaviour change to fix #18
- `Document.createTime`, `readTime` and `updateTime' have been removed as they are no longer supported by firestore document snapshots

[2018-06-11 21:41] IjzerenHein commented on #18
Hi, this should be fixed by using the new `isLoading` property instead of `fetching` in firestorter v0.12.1. Let me know if you still run into this problem with in case `isLoading` doesn't solve it.
cheers

[2018-06-12 14:23] steeltomato commented on #19
Your description is accurate. I'll take a look at the Collection.isLoading prop you've added and see if that clears up the error from #18.

[2018-06-12 14:46] steeltomato commented on #19
Using isLoading is working fine, I can't reproduce #18 anymore so this is no longer an issue.

Aside, this project is fantastic neat and I'm having a lot of fun playing with it. Thanks for your efforts here! Once I get my head really wrapped around mobx I'll try to help out.

[2018-06-12 14:46] #19 closed

[2018-06-12 14:46] steeltomato commented on #18
I can't reproduce this anymore on v0.12.1

[2018-06-12 14:52] IjzerenHein commented on #19
Great to hear, let me know if you need any help and looking forward to contributions 😃

[2018-06-12 15:10] IjzerenHein opened #20 "Add support for deleting fields from documents"
Currently, deleting fields from a Document is not possible when using schemas. Without schemas it is possible by using `firebase.firestore.FieldValue.delete()` in the `Document.update/set` functions, although this is a bit of a cumbersome API.

Proposal API that treats `undefined` as a special value to delete a field.

[code]

Additional requirements/info:
- `undefined` is syntactic sugar for `fir

[2018-06-14 14:52] 0x80 commented on #12
@IjzerenHein not sure how to apply the new isLoading prop. If I use it without checking for data, my render function tries to render without data first:

[code]

[2018-06-14 15:53] IjzerenHein commented on #12
@0x80 I'm not sure I understand. And I don't understand the `this.user.data` check either. `.data` always returns an object, when it has not data, it returns an empty object `{}`.

`isActive` indicates whether the collection or document is actually listening for real-time updates. Typically you don't need this, but it can be useful for debugging.

[2018-06-18 09:45] 0x80 commented on #12
@IjzerenHein If document .data should always return an object then I think I might have encountered a bug, because it definitely returns `undefined` for me in some cases. I'm still trying to figure out what the exact circumstances are...

[2018-06-20 17:39] rapind opened #21 "Firestore behaviour of Date objects changing."
Ran into this following the setup instructions for a new React Native app today.

[code]

[2018-06-21 11:30] 0x80 commented on #12
@IjzerenHein the problem occurs when I try to fetch a document from the database that doesn't exist. Then the isLoading prop will be set to true while document.data is missing.

Is there another prop that I should check to catch documents that don't exist, or how did you imagine handling this?

[2018-06-24 17:41] msholty-fd commented on #4
I dropped by to see if this project would fit my needs. I want to start a new project using TypeScript/React/Firebase. Sad to see no declaration file for this project, since TypeScript won't have any of that, but happy to help where I can.

@ljzerenHein Do you plan on possibly moving to TS? (Basing this question on the previous comment from @0x80)

If you want to move from flow to TypeScript (some

[2018-06-24 18:16] chetmurphy commented on #4
I’m no longer using firestore. I have switched to pouchdb + couchdb on my own server to better support offline first. Still using typescript and mobx.

________________________________
From: Michael Sholty <notifications@github.com>
Sent: Sunday, June 24, 2018 10:41:04 AM
To: IjzerenHein/firestorter
Cc: chetmurphy; Author
Subject: Re: [IjzerenHein/firestorter] Typescript (#4)

I dropped by to see

[2018-06-25 08:48] 0x80 commented on #4
@msholty-fd I am happily using Firestorter with my own type defs. I've changed them slightly since though, using generics for Document and Collection so you can pass your data types, and supporting the new isLoading prop.

The reason I needed the generics is because I was already using Document<SomeType> in my own code for passing documents around in the format `{id: string, data: SomeType}`, and

[2018-06-27 21:07] msholty-fd commented on #4
@0x80 did you add anything around `initFirestorter`? I get errors unless I have something defined for it. This is what I currently am using with no errors, but it could be a bit stricter:

[code]

[2018-06-29 06:09] 0x80 commented on #4
@msholty-fd I see that I put a @ts-ignore on that :smile

[2018-06-30 13:45] msholty-fd opened #22 "Feature: Support Mobx strict mode"
Hi! When I enable strict mode via `configure({ enforceActions: true });`, it seems to cause mobx to throw an Error from within this library. Specifically, I think it comes from `Document._onSnapshot` when the `transaction` updates `_fetching` via this line:

[code]

Is there anything I can do in my usage of firestorter to allow me to enforce actions and also not run into this issue? I am happy to

[2018-06-30 15:16] msholty-fd opened #23 "Using Document.update without any arguments"
Hello!

When updating a Document right now, I need to do it like so:

[code]

I would like to be able to mutate the Document and then call `update` with no arguments to persist the changes in firebase, like so:

[code]

This could be accomplished like so:

[code]

On the other hand, we could create a new method to differentiate the two operations since just updating `fields` is more efficient than

[2018-07-01 15:56] msholty-fd commented on #4
A small update I had to make to make `CollectionOptions` work:

[code]

I changed `query` to be a function accepting a `firestore.Query` and returning a `firestoreQuery`. If you just make `query: firestore.Query`, TS won't let define your queries as a function.

[2018-07-01 19:44] 0x80 commented on #4
@msholty-fd I'm not sure that is correct. The function is passed a reference not a query. The return value is a query. I define my queries as a function and my Typescript versions have had no problem with this signature:

`(ref: firestore.CollectionReference) => firestore.Query`

[2018-07-01 19:48] 0x80 commented on #4
@msholty-fd Ah I see. You were still using the signature from the first version I posted. Yes that was from before the query as function option...

[2018-07-01 21:00] msholty-fd commented on #4
Sorry about that, I didn’t use the more recent code you posted. We really should submit something to DefinitelyTyped!

[2018-07-03 19:52] IjzerenHein commented on #21
I am aware of this, but luckily Date is never used internally in Firestorter and no action is required.

[2018-07-03 19:53] #18 closed

[2018-07-03 19:53] #21 closed

[2018-07-03 20:33] IjzerenHein commented on #9
Hi, regarding offline persistence, I suggest the following approach which I've been using successfully in my application for some time now. It deals with the problem in 3 phases:

1. Render the application after initialisation has occurred
2. Use a `mobx-react` Provider to create a Store and add it as a context
3. Wrap your components with a HOC that passes in the store as a prop

## 1. Render the

[2018-07-03 20:36] IjzerenHein commented on #10
Hi, I've taken a look at this and decided not to pursue this route. MST and Firestorter have a different concept of ownership and I don't see viable merging strategy.

[2018-07-03 21:15] IjzerenHein commented on #22
Hi, thanks for the suggestion. I wasn't aware of this `strict` mode in mobx-react. Could you point me to some more documentation on this?

[2018-07-07 14:01] msholty-fd commented on #22
https://mobx.js.org/refguide/api.html#-enforceactions-boolean

I think to verify that this works correctly in this library, you just need to `import { configure } from 'mobx'` and then `configure({ enforceActions: true });`. The functions that mutate state will need to have the `@action` decorator or just wrapped with `action()`

[2018-07-11 14:17] IjzerenHein opened #24 "Schema validation error after deleting documents"
When a document has a schema, deleting the document may throw an error when the document receives a new snapshot, like this:

[code]

[2018-07-21 00:58] bseng opened #25 "Using firestorter with vue, angular, etc"
Hi,

Do you know if firestorter works with other framework like vue or angular through mobx-vue, mobx-angular?

Thanks

[2018-07-21 06:43] IjzerenHein commented on #25
Hi, I haven't gotten around to write a tutorial for that, but yes it should :)

[2018-07-31 03:35] jonesnc commented on #22
I'm also excited for this! I'd really like to re-enable the `enforceActions` setting.

[2018-07-31 03:51] IjzerenHein commented on #22
Alright guys, thanks for letting me know that this is becoming a priority. I've actually run into this one myself. I hope I can work on it soon.

[2018-08-04 07:59] #10 closed

[2018-08-04 14:34] ChenRoth opened #27 "pass options to firestore.settings"
hey
i'm getting this error when using the latest firestore:

[code]

I'd like to be able to pass the `timestampsInSnapshots` settings or any other.

WDYT?

[2018-08-04 14:59] ChenRoth commented on #27
nevermind - api docs show i can pass a `Firestore` instance to `Collection`
thanks!

[2018-08-04 14:59] #27 closed

[2018-08-13 08:41] joshua1 opened #28 "using a mobx store"
Hi @IjzerenHein given the use of a store in the docs https://github.com/IjzerenHein/firestorter/blob/master/docs/Store.md
any chance this store can be a mobx store so that one can have shared computed functions and shared actions that process the defined collections. something like
[code]

just so you have multiple computed values, available to several components. instead of having several instanc

[2018-08-23 02:15] andressh opened #29 "API suggestion"
Hello

I am new on these technologies so my question may not make much sense.

It would not be possible to make the source of the collections reactive, like in reactive queries, which would allow an integration with react-router?

[2018-08-23 05:43] IjzerenHein commented on #29
Yes the source of a Collection is also reactive. You can for instance pass-in a function to `Collection.path` and make that return the path to use. If you access an observable in that function, the function will be automatically re-executed whenever the observable is updated.

[2018-08-25 13:19] IjzerenHein commented on #28
Hi Joshua, yes definitely. I guess the store itself doesn't need to be observable, but you can definitely make the contents inside of it observable.

[2018-08-31 10:20] Strate opened #30 "Set custom SnapshotOptions, especially serverTimestamps option"
Hi!

By default, firestore's `DocumentSnapshot.data()` converts ServerTimestamp tp null. It is possible to override this default behaviour by passing extra option to `DocumentSnapshot.data()`, for example:

[code]

But I didn't find a way how to do this in the firestorter. Could you help me with that?

[2018-08-31 12:34] #29 closed

[2018-08-31 12:54] Strate commented on #30
Temporary fixed by pathing `data` function:

[code]

[2018-09-11 01:03] thirdman opened #31 "Thanks!"
No issue, I just want to say thank you for your work on this project - it's awesome!

[2018-09-11 07:37] IjzerenHein commented on #31
Appreciate it Gareth, thanks! :)

[2018-09-12 08:35] Strate opened #32 "Handle onChapshot() errors"
Seems there is no error handling for `.onSnapshot` calls, so errors, like permission deined are missing now.

[2018-09-12 15:18] IjzerenHein commented on #32
Hi, I've released a new version which logs a warning for all snapshot errors.
https://github.com/IjzerenHein/firestorter/releases/tag/v0.15.2

Let me know whether this solves your problem.
regards

[2018-09-13 14:43] Strate commented on #32
Wow, so fast! Yes, this is definetely solves my problem, thank you so much!

[2018-09-13 14:43] #32 closed

[2018-09-13 15:58] Strate opened #33 "lodash.isequal should be in dependencies, not in devDependencies"
lodash.isequal should be in dependencies, not in devDependencies

[2018-09-13 16:42] IjzerenHein commented on #33
Whoops, you're right. I can imagine that breaks the build on `react-native` projects or when using the new ES modules output.
Just fixed it and pushed a new version:
https://github.com/IjzerenHein/firestorter/releases/tag/v0.15.3

Thanks for reporting

[2018-09-13 16:44] Strate commented on #33
@IjzerenHein :+1:

[2018-09-13 16:44] #33 closed

[2018-09-20 13:42] Strate opened #34 "Creating collection inside computed fails with [mobx] Side effects like changing state are not allowed at this point."
Hey!

I'm trying to make something like that:

[code]

This is fails with error:

[code]

Seems that `addObserverRef` performs mutation of observable, which is not allowed in mobx. As for now, I found workaround to wrap `new firestorter.Collection` in `mobx.untracked`:

[code]

but I am not sure this is not breaking something, for example reactive query, or other stuff.

[2018-09-22 04:24] teddyteh opened #35 "React Native Issue"
How exactly do you initialize firestorter with react-native-firebase?

This is what I've tried:
import firebase from 'react-native-firebase';
import {initFirestorter, Collection} from 'firestorter';

initFirestorter({firebase: firebase});

And somehow:
![screenshot_1](https://user-images.githubusercontent.com/8596757/45913301-3553c900-be73-11e8-8dbd-6555ac0d6a15.png)

[2018-09-22 09:54] IjzerenHein commented on #34
Hi, thanks for pointing this out. There are at this point some "impurities" with firestorter. I'm planning on rewriting a thing or two to make everything as pure as possible. I don't have a solution for this at this moment but will come back to you in a while.
cheers

[2018-09-22 09:56] IjzerenHein commented on #35
Hi, it seems you haven't set up `react-native-firebase` on android correctly. This issue has nothing to do with Firestorter itself. Please follow the instructions on `react-native-firebase` on setting it up in your react-native application. I can assure you that Firestorter works perfectly with `react-native-firebase` :)

[2018-09-23 08:52] imikemiller opened #36 "No docs in nested collection"
Hi, first off thanks for the great library. Finally a simple approach to firebase in react.

I have read this issue https://github.com/IjzerenHein/firestorter/issues/7 and I am pretty sure my problem is related to implementation but I cannot figure out why my nested collection is coming back empty. Below is my code and a sample from the console log. The path value is setting correctly but there is

[2018-09-23 09:37] imikemiller commented on #36
Fixed it! Simple and obvious

[code]

[2018-09-23 21:17] IjzerenHein commented on #36
Hah, yes the collection needs to be observed in order for Firestorter to subscribe for updates to Firestore :)

[2018-09-23 21:17] #36 closed

[2018-09-25 08:44] imikemiller opened #37 "Query Clauses with Nested Collections"
Hi,

Could you provide some guidance on how to implement the following correctly? If I remove the orderBy clause the nested collection is returned as expected. I assume this is related to my implementation:

[code]

[2018-09-25 15:39] IjzerenHein commented on #37
Actually that looks good. What is not working?

[2018-09-25 15:57] imikemiller commented on #37
Thanks a lot for getting back. Empty result from the nested collection is
the issue. Without orderBy I get the expected docs from the nested
collection. Can I provide any more information?

On Tue, 25 Sep 2018, 5:48 pm Hein Rutjes, <notifications@github.com> wrote:

[2018-09-25 16:47] imikemiller commented on #37
Very possible, in fact I definitely don't. However on a different query on
the parent collection I use the same orderBy and it's cool. also usually
firebase gives a yellow box when it reckons it needs an index. But having
said all that, you make a good shout, I will definitely add an index and
see if it helps.

On Tue, 25 Sep 2018, 6:34 pm Hein Rutjes, <notifications@github.com> wrote:

[2018-09-26 07:10] imikemiller commented on #37
OK I have tested the indexing and no joy. As I thought its not required as I have only a single field clause.

    Error: HTTP Error: 400, this index is not necessary, single field indexes are built in

If I log the state of the result in my render function it looks correct its just empty:

    Proxy {length: 0, Symbol(mobx administration): ObservableArrayAdministration}
      [[Handler]]: Object

[2018-09-26 07:37] IjzerenHein commented on #37
Hmm this is a weird one. I know adding the index was a long shot, but was worth a try. So you say that the `orderBy` works on a different global collection, which seems to indicate the code for it seems to work.

Could you try enabling the `debug` flag on the Collection and send me the logs?

[code]

The next thing I would try to verify whether the problem is with Firestore itself or in Firestorte

[2018-09-26 16:33] IjzerenHein commented on #37
Alright appreciate it man. Glad the problem is resolved. If it re-appears just drop a note here and we'll have a closer at it.
Cheers, Hein

[2018-09-26 20:17] imikemiller commented on #37
You're a legend cheers

On Wed, 26 Sep 2018, 6:33 pm Hein Rutjes, <notifications@github.com> wrote:

[2018-09-28 08:28] imikemiller opened #39 "Document.update.test.js is failing"
Specific failing tests are `update field with schema` and `update field-path with schema`. It appears the issue is that the update is rejected if mandatory fields from the schema are missing. I am not sure the intent here but seems that the schema should only validate fields contained in the update (different behavior from add/set which would need to enforce the mandatory rules)

`npm test -- -t '

[2018-09-28 08:42] IjzerenHein commented on #39
Hi, there is an issue with the tests at the moment. It seems someone deleted the test data from Firebase (which was still open) and that is now causing the tests to fail. It's on my radar and I've planned to fix this next week.

[2018-09-28 08:47] imikemiller commented on #39
Ahh I see. I made PR which includes some seeds scattered about. If the data is supposed to be there from the top I can move these into the init.js file. I will close this

[2018-09-28 08:47] #39 closed

[2018-09-28 10:44] imikemiller commented on #37
OK so by moving the query inside the componentWillRecieveProps function I got it to work. Thanks a lot.. again!

[code]

[2018-09-28 10:44] #37 closed

[2018-10-03 07:45] #35 closed

[2018-10-03 15:41] IjzerenHein commented on #4
Hi, I have begun converting Firestorter to TypeScript. This will add first-class support for TypeScript as a language to build your React/Firestore apps. Should be available shortly as major release.
The code is on the `feature-typescript` branch.

[2018-10-04 13:30] IjzerenHein opened #40 "Reading `Document.source` or `Collection.source` throws an exception"
`_source` is not an observable, but assumed it is in the getter function

[2018-10-05 07:50] Strate opened #41 "Add `hasData` observable property for Document"
Hey! It would be useful to have `hasData: boolean` property on Document. It behaves as:

1. When Document have no data, it resolves to `false`

2. When Document have any data available, it resolves to `true`.

It is not same as existing `isLoading`, because it is not become `false` when new ref set, for example.

[2018-10-05 09:50] IjzerenHein commented on #41
Hey Artur, yes this is a really good idea. I will add it in the next release which I'm working on right now. Cheers

[2018-10-05 11:19] IjzerenHein commented on #40
Fixed on `feature-typescript` branch

[2018-10-08 16:05] IjzerenHein opened #42 "When a collection snapshot fails with "permission denied", the collection is not cleared"
When a query fails because of permissions, the collection should be cleared instead of keeping the old data

[2018-10-10 09:57] yatsyk opened #43 "Allow to have different types of Documents in Collection"
Sometimes it is useful to have different types of documents in collection. Now we are passing `DocumentClass` to `Collection` constructor. I see two options to implement this type of API. One is to pass callback that returns correct class of Document object according to snapshot data.

[code]
The other option is to pass document factory method that creates objects.

`const pets = Collection('pets'

[2018-10-10 14:00] MichZipp opened #44 "Handle Documents in Store"
Hi,

I'm a beginner with react and firebase! I would like to have the current User in the store to access the data from different components. If I use the following Code, the currentUser Document is always empty. The "setCurrentUser" function is called, when a user has logged in. If I query the whole user collection with the user id, it works fine. But I think it would be more effitient to directl

[2018-10-11 11:03] IjzerenHein commented on #44
Hi Michael. What about:

[code]
I think that will work.

regards, Hein

[2018-10-11 11:09] IjzerenHein commented on #43
Hi Andrey, thanks for the suggestion, I really like this idea. I had come up with it myself a while back, but never found a use case for it, so I never implemented it.
I like the `createDocument` naming the best. Also, I agree with passing in `DocumentSnapshot` to the factory function.
I will include this improvement in the next big release, which includes proper TypeScript support and a "pure" mo

[2018-10-11 20:19] MichZipp commented on #44
That's it, Thanks!

[2018-10-11 20:19] #44 closed

[2018-10-19 08:43] Strate opened #45 "Optimize Document, if it was already fetched from Collection"
I want to suggest enhancement, which can be useful to optimize usage of Firestore.

Imagine, you get collection of documents:
[code]

and after that, somewhere in your app, you want to get document by id:
[code]

Even if your document was already fetched from firestore, you will fetch it again, and subscribe to updates again. This can lead to non-optimal usage of firestore - you do more reads from

[2018-10-24 14:31] jbaldassari commented on #4
@0x80 @msholty-fd question about the definition of ```DocumentClass``` in ```CollectionOptions```:

[code]

How should the document class be passed as a ```string```?  In the examples I've been playing around with, ```DocumentClass``` is a class reference.  So for example, you might have a document class defined as:

[code]

Previously I had a simple TS definition like ```declare module 'firestort

[2018-10-24 16:44] jbaldassari commented on #4
Well I found a workaround that allows this to compile:

[code]

We can define the ```DocumentClass``` property as:

[code]

Now the only problem I seem to be running into is that when I try to use a ```Todo``` typescript doesn't know about its properties that are defined via superstruct schema:
[code]

If I try to access these properties on an instance of ```Todo``` TypeScript complains that they

[2018-10-24 17:44] jbaldassari commented on #4
Just figured out the last piece of this.  In order for TypeScript to recognize the properties from the superstruct schema we have to explicitly define an interface and implement a bunch of boilerplate code for each property, which is unfortunate.  At the very least it would be nice for the ```schema``` property to accept an interface rather than a superstruct so that we don't have to define the in

[2018-10-24 18:34] 0x80 commented on #4
@jbaldassari I have never used the DocumentClass option, nor do I know what it is used for, so I'm afraid I won't be of much help. I think I made the type definition just by skimming the codebase.

But I'm curious to hear what you use it for 😄

[2018-10-24 18:54] jbaldassari commented on #4
@0x80 I must have seen it in the examples and copied it assuming it as required, or at least the recommended way to do it: https://github.com/IjzerenHein/firestorter/blob/master/examples/todoApp/src/store.js#L20-L30

I suppose it adds an extra layer of validation, but I'm not sure if it has any uses beyond that.  Maybe @IjzerenHein can elaborate.

[2018-10-25 00:37] IjzerenHein commented on #4
Hey guys, im currently on vacation so unable to provide support. There's a
new branch which has full typescript support. It's basically done, so i
recommend to use that until it is released officially in a couple of weeks.
Cheers, Hein

Op do 25 okt. 2018 03:54 schreef James Baldassari <notifications@github.com

[2018-11-04 21:18] sne11ius opened #46 "Nextjs SSR example"
This is not a real "issued", but rather a suggestion: a minimal example of how to use firestorter with nextjs and SSR would be awesome ;)

[2018-11-05 16:58] michan85 opened #47 "Paging"
I created a PagedCollection class that extends Collection.
ill be the first to admit its not great but i needed it quickly and maybe it can be useful to others.

Firestore paging is, to say the least limited, I could not seem to find a way to page backwards (endAt is not sufficient).

The basic premise is:
keep a list of query objects
nextPage queries.push
prevPage queries.pop.

the limitations ar

[2018-11-07 23:01] damonmaria commented on #4
I've had bit more of a go at getting DocumentClass to work. Especially so properties like `Collection.docs` returns the right thing. I think I've got it working so you can either provide for `T` on `Collection` the `DocumentClass` subclass or the generic of `Document` (i.e. the type of `Document.data`. Although I'm pretty new at TS:

[code]

I'd love to get that type checked on `CollectionOptions.

[2018-11-08 08:48] imikemiller opened #48 "Aysnc Timeout running `npm test`"
I am getting this error when running the tests. I have a fix- I just chucked a call to `done()` at the end of the offending test case - but this feels pretty arbitrary. Seems like a call to `done()` should be included in each async test in case, for some reason, firestore is slow to respond and one of the tests ends up over running timeout

[code]

[2018-11-08 08:49] imikemiller commented on #48
The fix for clarity:

[code]

[2018-11-08 09:05] imikemiller commented on #48
OK ignore me, the error is intermittent and is probably my connection. I did some further tests by forcing a delay inside some test cases (`await new Promise(resolve => setTimeout(resolve, 5000));`) and there error is thrown regardless of whether `done()` is called or not (this is obvious in hindsight).

[2018-11-08 09:05] #48 closed

[2018-11-10 14:16] MichZipp opened #50 "Error"
Hi,

I have the following Document Definition:
[code]

If I add an Item with following structure:
[code]

I get the following error:

But If i check the table on firebase, I can see, that the item was added in the correct format to the database:
![unbenannt](https://user-images.githubusercontent.com/15633078/48302277-15e42e80-e4fb-11e8-9a2a-57b41891f229.PNG)

Anyone an idea, what could couse this

[2018-11-11 09:17] IjzerenHein commented on #47
Hi, Pagination is still on my radar, but haven't found an elegant solution yet that I like. I hope to address this in the following weeks. If you have a definitive solution/API in mind, please share it here.
Cheers and thanks for the feedback

[2018-11-11 09:19] IjzerenHein commented on #46
Great idea. It's not on my prio list at the moment, so contributions would be very helpful for this.
Cheers!

[2018-11-11 09:35] IjzerenHein commented on #50
Hi Michael. This is indeed a limitation/bug at the moment. Firestore switched their `date` data-type to `timestamp` a while back. While writing to Firestore using a `Date` still works, when reading data, the new `timestamp` is returned.
This probably happens when you set the `timestampsInSnapshots` setting during initialisation.
Of course, since the `timestamp` data-type is considered to be the ne

[2018-11-13 08:34] IjzerenHein commented on #4
Hey guys, I want to provide a short update on the progress.
I've been on vacation, but are committed to push this feature out as quickly as possible now.
The current status is that all core code has been converted to TS and I've added an example TodoApp written in typescript. An experimental version has been pushed to NPM, which you can install using `yarn add firestorter@next`. It contains full t

[2018-11-14 10:56] thdk commented on #4
In the TodoApp example for typescript, is there a reason why you import firebase like this:
[code]
instead of:
[code]

You are only importing declaration files instead of the real library.

[2018-11-14 11:08] IjzerenHein commented on #4
Does it matter that much? And no I am not only importing declaration files.

[2018-11-14 11:48] 0x80 commented on #4
@IjzerenHein The project I was using Firestorter for is on hold for a little while, so I won't be able to invest much time in it right now unfortunately. I did a quick test to see if I could just drop in the next release, and got this error from your Document.d.ts file:

If I replace the import with `import { firestore } from "firebase";` and reference the types in the file with `firestore.Documen

[2018-11-14 12:08] 0x80 commented on #4
Setting skipLibCheck: true gets me past these errors, but then I run into this:

[code]

The Collection tells me it doesn't want the Comment interface type, so I remove it:

[code]

And then the compiler tells me:

    Type '(ref: any) => any' is not assignable to type 'Query | (() => Query | undefined) | undefined'.
      Type '(ref: any) => any' is not assignable to type '() => Query | undefined

[2018-11-14 14:07] thdk commented on #4
Disclaimer: very little experience in open source here but I do want to help where I can.

It is documented to import firebase as below:

Source: [See bottom of this section](https://github.com/firebase/firebase-js-sdk/tree/master/packages/firebase#include-only-the-features-you-need)

In package.json, I think you only need to have "firebase" as a dependency instead of:
[code]

simply have:
    `"f

[2018-11-15 10:07] IjzerenHein commented on #4
@0x80, @thdk Hey guys, I think I've fixed the problems now. As Thomas pointed out, using `@firebase/..` didn't seem to be the correct way, nor was it consistent with the preferred method of import as specified in the firebase docs.
I've updated the code to use the typings directly from `firebase` (which should use `node_modules/firebase/index.d.ts`). When you use `yarn install firebase` and `impor

[2018-11-15 10:19] IjzerenHein commented on #4
@0x80 regarding using generics with Collections... This now works as follows:

[code]

Unfortunately it is necessary to explicitly pass-in a factory function for creating documents, as this cannot be done with the TypeScript type-system. I had hoped that this `Collection<Comment>` would have been sufficient (and it's nice and clean), but because TypeScript is transpiled and published as plain Java

[2018-11-16 20:14] 0x80 commented on #4
@IjzerenHein I think I am not fully grasping what the idea is behind the document factory function.

In my current Firestorter code I simply used generics in the type definition of `Collection` so that Typescript knows the type of the returned data. There is no type checking on any input I supply to write operations, which is not ideal of course, but I am not typically writing to the db from my we

[2018-11-20 12:50] IjzerenHein opened #52 "Add function to delete all documents inside a collection (`Collection.deleteAll`'"

[2018-11-20 12:53] IjzerenHein opened #53 "Feature - Batch updates"

[2018-11-20 19:54] IjzerenHein opened #54 "Make it possible to detect whether document is just empty, or has not been fetched"

[2018-11-20 19:56] IjzerenHein commented on #12
@0x80 I'd like to close this issue, is that ok?

I've created a separate issue for the case where it's not possible to detect whether the document is empty or has not been fetched (or doesn't exist), #54

[2018-11-20 20:00] IjzerenHein commented on #4
Hey guys, I've pushed out the new TypeScript version of Firestorter. Version 1.0.4, see the release notes here: https://github.com/IjzerenHein/firestorter/releases/tag/v1.0.4

Let me know whether this works for ya all. Furthermore, I'd like to close this issue. If you have problems with the new version (Typescript or non typescript related), please open a new issue.

cheers, Hein

[2018-11-21 13:56] #40 closed

[2018-11-21 13:57] IjzerenHein commented on #54
Duplicate of #41

[2018-11-21 14:04] IjzerenHein commented on #20
This issue has already been resolved. To delete fields from documents use:

[code]

[2018-11-21 14:04] #20 closed

[2018-11-21 14:31] IjzerenHein commented on #23
Thanks for the suggestion. As of know I consider this functionality as "batching" of updates. A new issue was opened for this #53. Closing thereof.

[2018-11-21 14:31] #23 closed

[2018-11-21 16:13] IjzerenHein commented on #43
Hi, this feature is now officially supported. To create custom documents, you can now use the `createDocument` option in the constructor of the Collection.

**Example**

[code]

Cheers!

[2018-11-22 16:04] IjzerenHein commented on #3
Closing, as the original issue is about getting Collections from a document and that is not supported by Firestore API

[2018-11-22 16:04] #3 closed

[2018-11-22 16:11] IjzerenHein commented on #30
Hi, what do you mean by that it converts the `timestamp` to null? It should return a timestamp right?
Are you using `firestore.settings({ timestampsInSnapshots: true });`?

cheers

[2018-11-23 08:32] Strate commented on #30
@IjzerenHein hi, firestore by default converts pending **server**timestamp to null untill it is not loaded from backend, or provided special SnapshotOptions: https://firebase.google.com/docs/reference/js/firebase.firestore.SnapshotOptions

[2018-11-23 13:55] IjzerenHein commented on #30
Okay I've just added the option to specify snapshotOptions to Document (on master, not released yet). You can specify the snapshot options like this:

[code]

Would this solve your use case?
cheers

[2018-11-23 15:29] IjzerenHein commented on #30
Just released this in official version v1.1.0

[2018-11-23 15:31] IjzerenHein commented on #50
Hi Michael. I just released a new version of Firestorter which resolves this issue:
https://github.com/IjzerenHein/firestorter/releases/tag/v1.1.0

Please view these docs on how to use `timestamp`s in schemas:
https://github.com/IjzerenHein/firestorter/blob/master/docs/SchemasAndCustomDocuments.md#timestamps

[2018-11-23 15:33] IjzerenHein commented on #43
Just released this feature in: https://github.com/IjzerenHein/firestorter/releases/tag/v1.1.0

[2018-11-23 15:34] IjzerenHein commented on #42
Fixed in v1.1.0

[2018-11-23 15:34] #42 closed

[2018-11-23 15:35] IjzerenHein commented on #22
Hi, MobX strict mode is now supported in v1.1.0.
Let me know whether this solves the problem for you.
cheers

[2018-11-23 15:37] IjzerenHein commented on #41
I've added `hasData`, it's in the just released v1.1.0 release.
cheers

[2018-11-23 15:37] IjzerenHein commented on #34
Hi, this should be fixed in the new v1.1.0 release.
Let me know if it doesn't.
cheers

[2018-11-23 15:39] Strate commented on #30
@IjzerenHein thank you for that, I think collection need support same thing. Or possibility to set something like `Document.defaultSnapshotOptions = {}`

[2018-11-23 15:47] IjzerenHein commented on #30
You can already do it by creating a custom document and collection:

[code]

[2018-11-23 15:48] Strate commented on #30
Great, thank you for that!

[2018-11-23 15:48] #30 closed

[2018-11-23 17:41] yatsyk commented on #43
Thank you!

[2018-11-23 17:41] #43 closed

[2018-11-26 12:42] damonmaria opened #55 "Can't import Mode from Types.d.ts"
I'm trying to use the new Typescript features in a create-react-app (using react-scripts-ts) based project.

I can perform some imports from `firestorter/lib/Types`, example: `import { DocumentSource, IDocumentOptions } from 'firestorter/lib/Types'` works fine.

But if I try to provide the `mode` in the `Collection` constructor options then importing `Mode` from `firestorter/lib/Types` fails to co

[2018-11-27 11:53] yatsyk opened #56 "Make API compatible with mobs-utils fromPromise"
My proposition is to extend API with computed props value and state. After that our react code will be the same if we render value that we received from firestore or for example fetched from rest endpoint.

Mobx-utils is quite popular library by mobx author Michel Weststrate.

I’m not sure is this good idea or not.  What do you think?

[2018-11-27 16:44] 0x80 commented on #12
@IjzerenHein yes that's fine with me! I hope to find some time soon to get back into all this.

[2018-11-27 16:44] #12 closed

[2018-11-29 18:44] IjzerenHein commented on #55
Not exactly sure what's going on there. Nevertheless, I've added `Mode` as a regular export, so it can also be used with plain JavaScript. This also fixed the TypeScript problem. You can now import it directly like this with TypeScript `import { Mode } from 'firestorter';`
Released as https://github.com/IjzerenHein/firestorter/releases/tag/v1.1.1
cheers

[2018-11-29 18:48] IjzerenHein commented on #56
I'm not sure I understand. Can you share a code snippet on how the updated API would look like/work?
Cheers

[2018-11-30 04:45] damonmaria opened #57 "Typescript: CollectionQuery doesn't allow returning null from query function"
[Release 0.16.0](https://github.com/IjzerenHein/firestorter/releases/tag/v0.16.0) added the ability to return `null` from query functions but `null` isn't a valid return type in the Typescript declaration:
[code]

[2018-11-30 04:56] #55 closed

[2018-12-02 16:53] damonmaria opened #58 "Stack overflow when collection is large and becomes unobserved"
If I have a lot of documents in a `Collection` I'm getting the following stack overflow when that collection becomes unobserved:
[code]

Although it mentions `MetricBatchDoc` (my own `Document` subclass) it can't be affecting it. The entire definition is:
[code]

This is after a `yarn upgrade` so it's the latest versions of everything:
- firestorter: 1.1.1
- mobx: 5.6.0

To be certain of the 2 lin

[2018-12-02 17:57] damonmaria commented on #58
A further note to this. I tried to get around it by setting `mode` to `off` (on both the `Collection` and the `Document`s) but that doesn't solve the issue. Because even when both modes are off the Document still has `snapshotObservable` and `dataObservable`, despite the fact neither can change in that situation (if I understand it correctly). I wonder if things could be more efficient if the Docu

[2018-12-03 09:19] #4 closed

[2018-12-03 09:19] #41 closed

[2018-12-03 09:20] #34 closed

[2018-12-03 09:20] #22 closed

[2018-12-03 09:45] IjzerenHein commented on #57
Hey thanks for letting me know. I've fixed the problem on master and will push a new release within the next couple of days.
Cheers

[2018-12-03 09:48] IjzerenHein commented on #58
Hi, is there a way I could reproduce this? Can you maybe share an simple online example in StackBlitz which triggers this problem?
cheers

[2018-12-03 09:54] damonmaria commented on #58
I think it'll happen when too many docs in a collection. Will try to do small example online.

[2018-12-03 09:56] IjzerenHein commented on #58
Cool!

[2018-12-03 11:38] damonmaria commented on #58
@IjzerenHein: Here you go: https://stackblitz.com/edit/react-tzdzlo?file=Hello.js

Check the checkbox. Wait for it to update. Then uncheck it and you should get a stock overflow. I guess in Stackblitz you don't get proper stacktraces for some reason. But you should be able to replicate locally.

I've made one Collection in my app readable without auth to test this. I'd like to remove that permissi

[2018-12-03 11:47] damonmaria commented on #58
FYI, that collection has just over 2000 docs in it. I know that's excessive... but I think this is still a bug.

[2018-12-03 20:38] IjzerenHein commented on #58
Hey, thanks for the online demo/test, that is very helpful. I've been looking into it but haven't found a solution yet. I noticed that there were some similar issues that people where having with certain mobx versions. I tried downgrading to mobx 4.7 and upgrading to 5.7, but that didn't solve the problem.
I had a look at the code but haven't been able to reason about it why this is happening.
I w

[2018-12-04 06:05] damonmaria commented on #58
Thanks for the update and your time. Since you now have a unit test to reproduce I'll disable public access to the collection.

[2018-12-14 22:16] gregoryanm opened #59 "NewValue from Demo Comes Back Undefined"
I am not sure, I followed the tutorial, but my NewValue comes back as undefined..  I am probably overlooking something really dumb here...  Receiving the following Unsupported field value: undefined (found in field text)

[2018-12-20 05:04] gregoryanm commented on #44
Where did you place this in your code, I am placing it on the auth state changed, and nothing so far

[2018-12-29 22:13] #28 closed

[2019-01-04 20:19] gregoryanm opened #61 "Input Fields not Changing After Update"
Hello, I have some input fields on a component where once the value changes and I move on to the next document, the input field that was changed will not render new data.  It only changes the data on the fields  that have not had any edits.  I tested one scenario if I make a change, and lets say I change the field on the backend it works.  I assume I am bugging it out and should really use a modal

[2019-01-04 20:43] IjzerenHein commented on #61
Are you seeing any warnings in the console? Is it possible that the Input component you are using is a controlled component and therefore doesn't update?

[2019-01-04 20:52] gregoryanm commented on #61
Jeez, bad move on my part, your tool was getting me excited so I was copying and pasting a alot of crap over...  there it is defaultvalue...  Thanks very much, and awesome tool!!!

[2019-01-04 20:54] IjzerenHein commented on #61
Awesome, glad it works now :)

[2019-01-04 20:54] #61 closed

[2019-01-10 23:35] jonesnc opened #62 "How do I use a Document in a mobx computed value?"
I have a Mobx Store with a computed that observes the `hasData` field in the`userDoc` `Document`:

[code]

I never see the output html change to `authenticated` as it should, and `computed!` is never printed to the console. I know the document is correctly loading and `authUser` is populated because I have other code that reads data from `userDoc`.

Do you know how I can get my mobx store to corre

[2019-01-15 05:26] #62 closed

[2019-01-29 15:29] 0x80 opened #63 "Typescript generics and the need for superstruct and custom documents"
For a while, since before the Typescript refactoring, I was using my own type definition for Document like this:

[code]

It allows me to write `const user = new Document<User>` and `user.data` would have type `User`. I see that something like this is not implemented. I don't think it would require any extra code, just a type definition update.

At the same time I don't see the need for superstruc

[2019-01-30 20:53] IjzerenHein commented on #63
Hi Thijs. I very much get where you are coming from. I realize I have created some confusion in the TypeScript docs and implementation due to my limited experience with it. I've recently worked in a project using Flow and it has helped me to understand and appreciate that technology better now.

Firstly, you are completely correct regarding the Document types. Document should have a generic type f

[2019-01-30 20:55] IjzerenHein commented on #57
Hi, it's taken way too long, but I have finally released a new version with the fix for this, v1.2.0.
Cheers and let me know whether I can close this issue,
Hein

[2019-01-30 20:56] IjzerenHein commented on #56
Closing due to inactivity and no response

[2019-01-30 20:56] #56 closed

[2019-01-30 23:23] #57 closed

[2019-01-31 09:31] 0x80 commented on #63
I think from a Typescript perspective this example is still a little odd:

[code]

You are declaring a TodoType without a method. And then extend a Document of that type with a method. After that you pass the extended document class as a type to the Collection, but I think there could be just 1 document type that both the Document and Collection refer to.

Also the API for extending a collection w

[2019-02-04 15:36] IjzerenHein commented on #63
Thijs, thanks very much for the feedback. I haven't gotten around to process it, but will try to get back to you this or next week. Cheers

[2019-02-06 06:15] agrublev commented on #10
Shame, if only firestorter could create a new model for us to call on :(

[2019-02-06 09:00] agrublev commented on #47
I have a proposed api. If a timestamp is required then you can use this type of code:
`
// loadNext function of Collection class
Firebase.firestore
.collection("SOME_COLLECTION")
.where("timestamp", "<", LAST_SHOWN_ITEM.timestamp)
.orderBy("timestamp", "desc")
.limit(LIMIT_OF_QUERY)`

Then in firestore code something like
`
// Inside store
const todos = new Collection("todos", {
	DocumentClass: To

[2019-02-07 22:42] damonmaria opened #64 "Typescript: fetch() should use Document generic"
In `Document`: `public async fetch(): Promise<Document>` should use `Document<T>`

[2019-02-08 01:28] damonmaria opened #65 "Suggestion: new mode type "Once""
I'm creating a `Document` inside an `@computed` property. I don't want the doc to update with changes (it's the `initialValues` passed to a redux-form and I don't want it changing when the form submits and updates Firestore). So I need to put the `mode` to `off` and then `fetch()` it. But I can't do the `fetch` when creating the doc (it's in `@computed` so bad idea) so I instead need to have an `a

[2019-02-08 06:31] IjzerenHein commented on #64
Hi! I'm noticing that I have too little time and need some help maintaining this repo. Would you be interested in being a collaborator?
cheers, Hein

[2019-02-11 03:13] damonmaria commented on #64
I don't have a huge amount of time but Firestorter is a valuable package for us, and pretty awesome in general. Also know that while having dozens of private (company) repos I haven't worked as a collaborator on an open source repo before. But yes, I'm happy to work on this.

As an easy first step I could do a PR for this issue?

[2019-02-13 08:57] IjzerenHein commented on #64
Yes that would be awesome Damon!

[2019-02-17 02:51] damonmaria commented on #64
PR: #66

[2019-02-17 14:44] IjzerenHein commented on #64
Thanks Damon, I've just released this fix as https://github.com/IjzerenHein/firestorter/releases/tag/v1.2.1
cheers, Hein

[2019-02-18 18:33] #64 closed

[2019-02-18 18:39] damonmaria commented on #65
@IjzerenHein Are you OK for me to attempt a PR for this? Do you have any suggestions / comments / ideas regarding this suggestion?

[2019-02-19 08:53] IjzerenHein commented on #65
@damonmaria Yes, please go ahead, I forgot to get back on this. I do have one concern though. Maybe it's just my gut feeling and I'm totally wrong, but I think that the actual cause of the problem at hand is somewhere else, and solving it here may not be the right place. I think that solving the problem at the source would yield better results with less possible side effects. E.g., by making a cop

[2019-02-26 10:34] damonmaria commented on #65
After some refactoring the need for this has gone away... so you were exactly right.

[2019-02-26 10:34] #65 closed

[2019-03-04 06:05] damonmaria opened #67 "Suggestion: Collection.hasData"
I find myself regularly using `collection.docs.length > 0` in my React components. While being verbose it also causes excess re-renders as documents are added and removed, changing the length but `length > 0` is still true.

What if there was a `@computed hasData(): boolean` property on `Collection` that internally did this check. This would then match the definition of `Document.hasData` ("True w

[2019-03-04 06:05] damonmaria commented on #67
Happy to do a PR.

[2019-03-04 10:00] IjzerenHein commented on #67
That sounds like a very good idea. I had thought about is as well, but hadn't really found a use-case for it myself, but this sounds like a very valid one.
Considering, Document has data, and Collection has docs, would you consider `hasDocs` to be a better name?

[2019-03-05 00:41] damonmaria commented on #67
Agreed, `hasDocs` is more "does what it says on the can" than `hasData`.

[2019-03-06 21:50] 0x80 opened #69 "Document hasData returns false on existing document"
In the code below `this.user` and `this.settings` are Firestorter documents. The last line prints `Exists? true false` when the settings exist. I would expect hasData to return true. Am I not understanding it properly?

[code]

[2019-03-07 02:05] damonmaria commented on #69
I'm guessing you're using `Document`s directly, rather than through a `Collection`? In that case what `mode` are they in? The default mode is `auto` which means they will only load data if an observer is watching them, and if no one is watching then `ready()` will resolve (although I'm not sure that's the best idea as that can lead to confusion as now, @IjzerenHein?).

If I've guessed correctly th

[2019-03-15 19:06] rborn opened #70 "React-native not quering collections"
Hi, thanks a lot for this package, it's amazing :)

I'm trying to use the same logic in a ReactJS an ReactNative code but while in web it works fine  in RN it seems that is not executing the queries.

This code will have `docs` empty.
[code]

I run the "normal" react-native-firebase code and all works as it should.

Any idea?
Thank you.

[2019-03-15 19:08] rborn commented on #70
mmm, maybe is because you don't ever import `observer` from `mobx-react/native` ?

[2019-03-15 21:07] rborn commented on #70
ignore me, I'm dumb 🤦‍♂️

[2019-03-15 21:07] #70 closed

[2019-03-16 15:09] IjzerenHein commented on #70
No worries :)

[2019-03-19 10:21] IjzerenHein commented on #67
Releases as https://github.com/IjzerenHein/firestorter/releases/tag/v1.2.2

[2019-03-20 09:37] damonmaria commented on #69
@0x80 Did my comment above match what's happening in your situation?

[2019-03-20 09:37] #67 closed

[2019-03-20 15:07] IjzerenHein commented on #69
@0x80 Are you accessing the settings data anywhere from a reactive function? `ready` in itsself will not cause a fetch, but will merely make it possible for you to wait for data to arrive, before continuing with your async function.

I've ran into similar scenarios myself where I needed to access data, but that that data wasn't observed anywhere. In that use, I used the following code construct to

[2019-03-20 18:15] samosaboy commented on #58
Any update on this? We are using Firestorter too and experience this problem when we navigate away from a page that is rendering lots of documents inside a collection.

[2019-03-21 20:32] 0x80 commented on #69
@damonmaria 	@IjzerenHein 	Thanks, that must be it! I forgot about this issue because I'm not working on the code myself anymore.

My mistake was to think that setting the path would cause the data to be fetched. The settings document is not being watched by the time that path is set, so clearly nothing will happen then.

Adding a fetch before awaiting ready will surely fix the problem 👍

[2019-03-21 20:32] #69 closed

[2019-03-29 20:55] rborn opened #71 "SnapshotError handler"
Hi,

I see you handle the `onSnapshotError` case but it's just a warning.
Is there any way to actually do anything in case this event occurs ?

Thanks

[2019-03-31 18:40] damonmaria commented on #71
@rborn I'm not an expert but I'm pretty sure Firebase handles any network errors internally. So you won't be getting 'timeout' or 'disconnected' errors through this. All I've seen so far are errors about missing indexes.

[2019-04-01 09:01] rborn commented on #71
@damonmaria or permissions.
Would be good though to be able to handle at least the available errors

[2019-04-01 17:38] IjzerenHein commented on #71
@rborn My experience is the same as @damonmaria, I've only seen that handler being triggered on misconfiguration issues.

@rborn What kind of error handling would you looking for, an overridable method on Document/Collection?

[2019-04-01 17:53] rborn commented on #71
@IjzerenHein yeah, something like that.
Indeed I only have this issue when the configuration changes, and I'm thinking that if in the future we need to change the configuration then we should be able to handle this app side.

[2019-04-01 22:18] damonmaria commented on #71
My experience is they are only messages that you should see during development. Maybe being overridable would be useful in that during dev it's a console warning, but otherwise (like during testing or in production) it could be an error reported back / show stopper.

[2019-04-13 14:08] RWOverdijk commented on #45
This type of caching is already part of the sdk on ios, android and web. On react native for example you can verify this by disabling network:

`firebase.firestore().disableNetwork();`

And fetching any of the documents that are part of some you fetched before. You will still get the desired result. Snapshot.metadata will have the from_cache property set to true.

[2019-04-13 14:12] RWOverdijk opened #72 "Stop listener"
First off:

- Cool name
- Cool logo
- Cool project

Now, time to ask a dumb question.

Currently I'm doing the stuff that firestorter does myself, manually. I want to move over, because this module looks a lot easier on the psyche.

One thing I can't seem to find in the docs is how to stop listening for changes. I do this when the user's auth state changes because `.where()` has a filter on it lik

[2019-04-13 14:29] RWOverdijk opened #73 "No results"
Env:

- React Native 0.59.2
- mobx: ^5.9.0
- mobx-react": ^5.4.3
- mobx-state-tree: ^3.10.2

I just tried using this.. Module? Library?.. Code.

I had this with `react-native-firebase`:

[code]

And now did this with `firestorter`:

[code]

`chatCollection.docs` is always empty whereas `this.state.chats` isn't. Am I missing something?

[2019-04-13 14:34] RWOverdijk commented on #73
Apparently nothing happens if your component isn't observed. Makes sense.

[2019-04-13 14:34] #73 closed

[2019-04-13 15:12] RWOverdijk opened #74 "Loading without observables"
I'm guessing this has to do with the observer...

My case: I have an overview of chats. For each chat I want to load the last message from a collection so I can show it in the overview.

So I do this:

[code]

And try to access it in render like this:

[code]

But it's undefined.

However, it does work when I use map.

I just want the first result, so it's not ideal.

### Workaround

This approach

[2019-04-14 03:18] damonmaria commented on #72
If you access the `uid` through an observable reference inside the `query` function then the query will automatically update when the `uid` changes. And in the situation where there is no user then from the `query` function you can return `null` which will result in an empty collection. But I've just noticed that returning `null` isn't in the documentation.

[2019-04-14 04:18] damonmaria commented on #72
FYI I've just done a PR documenting the `null` return from `Collection.query`: #75

[2019-04-14 09:00] IjzerenHein commented on #72
That is correct, by returning `null` from the query function, the Collection will automatically stop listening. The `uid` itself needs to be an observable though. Something like this should work:

[code]

@damonmaria Awesome, thanks for documenting that better! 🙏

[2019-04-14 09:00] IjzerenHein commented on #72
Additionally, what you can do is set the `debug` option on the Collection. When enabled it will log when the it starts and stops listening to the console.

[2019-04-14 09:06] IjzerenHein commented on #74
Hi Roberto,

I would have expected `docs[0]` to have worked to be honest. Can you share a more elaborate example?

I also (almost exclusively) use FIrestorter with react-native, and there are some cases which you need to be aware of. One of them is when using FlatList for instance. FlatList will store the `docs` array reference but not access its contents from `render`. This causes the observable

[2019-04-14 10:53] RWOverdijk commented on #72
That's cool. I'll use that for sure. Consider me informed! :)

[2019-04-14 10:53] #72 closed

[2019-04-14 10:57] RWOverdijk commented on #74
@IjzerenHein Thanks for your reply.

For now my workaround is fine for me, and because of deadlines I'll leave it be. I know, it's bad but... In the future I'll probably encounter it again and make an example. The best I can do is the snippet I posted above. The map works, whereas the index accessor doesn't.

Regarding flatlist, I am. The map works though, even when there are changes, it updates.

[2019-04-15 07:13] IjzerenHein commented on #74
I guess that it works because `map()` causes an access on the array, leading to an observable reaction to be established. I didn't know you could use map without a input function though.

Another thing to be aware of, is that your rendered items should be an explicit component which is wrapped with `observer`. When you don't do this, the item will not be updated when just the document content chan

[2019-04-15 08:12] RWOverdijk commented on #74
☝️ that makes sense.

That's not a problem for me because I'm recreating the array on every change. I know it's not ideal, but there's not that much data to be displayed so eh...

Consider me informed.

[2019-04-15 08:12] #74 closed

[2019-04-15 08:35] Strate commented on #45
@RWOverdijk how can I verify, that making this:
[code]
will not make 2 requests on backend?

[2019-04-15 09:16] RWOverdijk commented on #45
One of many ways. Enable debug, check your usage in the firebase console, log the metadata...

A single listener, even if there's nothing new remote does seem to register as a read, but that's a different point entirely.

In any case your question should probably be, "how can I verify that this doesn't make two requests in firestore", because that's what's responsible for this.

[2019-04-15 09:21] Strate commented on #45
@RWOverdijk but your original point to "enablePersistence" and check it with "disableNetwork" is totally about different type of cache. I think that native sdk don't have feautre, originally requested in this issue.

[2019-04-15 09:25] RWOverdijk commented on #45
@Strate The native sdks have those features. Unless I'm still not getting the question 😄

[2019-04-15 09:28] Strate commented on #45
@RWOverdijk nvm, I am currently use my own re-implementation of firestoreter with reuse of collection/documents references :)

[2019-04-15 09:54] RWOverdijk commented on #45
@Strate All right. If you ever find a way to measure it do share. I find it hard to see a different way of doing it.

[2019-04-16 12:09] RWOverdijk opened #76 "Silent observer"
Hey, it's me again.

I just thought of a cool feature, I think. Silent observers! They don't trigger onSnapshot or anything, they just listen to Collections.

Whenever onSnapshot is triggered for that collection (through the usual processes) a callback is triggered. The silent observer doesn't care if onSnapshot is open, or closed, it only cares about updates.

Use case:

I want to maintain a list

[2019-04-16 12:27] IjzerenHein commented on #76
Hey. Just read your text for the third time, but I still don't get what you're trying to say :)

Could you maybe provide an example/API or pseudo code that explains the use-case?

[2019-04-16 13:57] RWOverdijk commented on #76
@IjzerenHein I tend to do that, sorry.

Pseudo code:

[code]

**The gist:** I will be notified of _any and all_ changes made when there is an active onSnapshot listener. This observer will persist for as long as the Collection instance lives. So when the onSnapshot listener gets disabled (because the view is no longer active) and then enabled again (because the view has been rendered again) my obs

[2019-04-16 19:19] RWOverdijk commented on #74
@IjzerenHein You said:

I just found something that imo explains more and solves it more elegantly, thought you might like to know. And if you knew already, well, I tried being nice haha. https://github.com/mobxjs/mobx/issues/1142#issuecomment-323161298

[2019-04-18 00:21] vonwao opened #77 "Would this be easily adaptable to Vue.js?"
It seems that they are similar in many ways.  I haven't seen MobX mentioned much in the Vue community, but I imagine you still need something like this.  Am I right?

[2019-04-19 09:18] IjzerenHein commented on #77
Duplicate of #25

[2019-04-19 09:18] IjzerenHein commented on #77
Closing, lets continue the discussion in the other thread

[2019-04-19 09:18] #77 closed

[2019-04-19 09:22] IjzerenHein commented on #25
As also asked in #77, yes you should be able to use Firestorter with Vue.js using the https://github.com/mobxjs/mobx-vue binding instead of `mobx-react`.

Firestorter in itself does not have any dependencies on React and can be used with other frameworks as well. Personally I do use it with React and React-native only and that's also where my experience lies. I'd be really happy to accept (documen

[2019-04-29 11:48] RWOverdijk commented on #32
Chapshot 😄

Logging a warning is a good start f course, but is there a way to set up a handler? In my case it's when permissions get taken away, I need to remove the items from a tree.

I don't mind opening a new issue for this either, I just felt this issue best fit my description.

[2019-05-20 13:44] RWOverdijk commented on #76
@IjzerenHein Another project, another example.

I have to preload images when they get updated in a dashboard. So, while I do want to use collections to display data, I also want to have access to updated records so I can preload the urls they contain.

[2019-05-21 07:46] IjzerenHein commented on #76
@RWOverdijk Hi Roberto. Sorry, I've been too busy with other things, I'll try to get back to with a week or two. Cheers

[2019-05-21 07:56] RWOverdijk commented on #76
I'm not trying to rush you. No hurry :) I know what it's like. Besides, I have a workaround, even if it's a bit lengthy.

[2019-05-25 19:43] Matt-Hill-83 opened #78 "how to put API keys in firebase 'function'?"
Hi,
This is really more of a question than an issue.
I think Firestorter is really great, but storing my API keys in the client code in store.js seems like a security risk.

Can you suggest how I could adapt the architecture to put these keys somewhere more secure, perhaps in the cloud in a Firebase 'function'?
I'm new to all of this, so any help you provide would be greatly appreciated.

Thanks!

[2019-06-04 21:12] jonesnc commented on #78
Hi @Matt-Hill-83 ,

This is a good question, and has been addressed in a few articles and threads that might be helpful to you:

https://medium.com/@paulbreslin/is-it-safe-to-expose-your-firebase-api-key-to-the-public-7e5bd01e637b
https://javebratt.com/hide-firebase-api/
https://groups.google.com/forum/#!msg/firebase-talk/-u2wBWSETds/MWP5BWtnFwAJ

[2019-06-05 13:18] Matt-Hill-83 commented on #78
Thanks so much for your helpful response!

On Tue, Jun 4, 2019, 2:12 PM Nathan Jones <notifications@github.com> wrote:

[2019-07-16 09:29] ofersarid opened #79 "how to use my uid ?"
Hi, I have some collections and documents that are restricted by permission.
the user's uid is validated against the permissions.
how can i use my uid with firestorere ?

[2019-07-16 11:24] IjzerenHein commented on #79
Hi, I guess what you're asking is how to set your collection queries to query only documents for the logged in user. Please have a look at this section of the docs: https://github.com/IjzerenHein/firestorter/blob/master/docs/Queries.md#disabling-the-collection-from-within-a-query

What you can do is once the login credentials are obtained (which is outside the scope of Firestorter, which only focu

[2019-08-16 11:41] knevagi opened #80 "Firestorter cannot get firestore"
I am new to using firestorter and I am getting the error that firestorter cannot get firestore while building react native app. Any help would be appreciated. I have only tried to follow the documentation on npmjs Thank you.

TheatreList.js

[code]

App.js

[code]

[2019-10-10 09:22] anjali198 opened #82 "Is there any way to query with multiple Ids from a collection in single query?"
I want to query with multiple Ids or multiple where conditions from a collection in a single query, please help me with it if anyone has worked on it?
While querying more than once for the same condition every time getting the different collection in the result and also not able to merge those collections to show it on the same page.

[2019-10-10 20:10] damonmaria commented on #82
Firestorter can only do what Firestore can do. My understanding is you're looking to provide multiple IDs to search for returning all that match. This would need an OR condition which Firestore does not support.

However, you could easily mimic this behavior by using a Mobx computed property that combined multiple queries or Document instances.

[2019-10-14 08:57] IjzerenHein commented on #82
Hi, @damonmaria has already provided the correct answer. Google Firestore in its-self cannot query on multiple Ids. If you want to do that then you will need to define multiple queries in the client-side and aggregate the results yourself.

[2019-10-14 13:10] thdk commented on #78
If your application is hosted with firebase you can make use of reserved url:

https://firebase.googleblog.com/2017/04/easier-configuration-for-firebase-on-web.html
https://firebase.google.com/docs/hosting/reserved-urls

[code]

[code]

[code]

[2019-10-16 13:25] #79 closed

[2019-10-16 15:11] IjzerenHein opened #83 "Run tests using the Firestore emulator"

[2019-10-21 13:41] oOMoeOo opened #84 "react-native-firebase 6.x support"
Hi,

i just upgraded to react-native 0.61 and react-native-firebase 6.x. Are there any plans to support the new react-native-firebase version with firestorter? They restructured the packages and i wasn't able to embed firestore with initFirestorter. Or am i doing something wrong?

The only way to import firebase from rn-firebase in typescript is: import app from "@react-native-firebase/app". Mappi

[2019-10-21 13:56] IjzerenHein commented on #84
Hi!

It should be supported as is. You have to import each package separately though, and then it will be injected in the firebase object. A short while back I tested this and that worked:

[code]

[2019-10-29 16:47] samtstern opened #85 "Integrate with firebaseopensource.com"
Hey @IjzerenHein I'm on the Firebase team and I think your project would be a good addition to https://firebaseopensource.com/

All you'd have to do is add a `.opensource/project.json` file to this repo ([example](https://github.com/FirebaseExtended/flutterfire/blob/master/.opensource/project.json)) and then let me know and I'd be happy to add this project.

[2019-10-31 08:03] IjzerenHein commented on #85
Hi @samtstern ! I'd love to see firestorter mentioned there. I will add the file and give you a heads up when it's done.

[2019-11-07 13:13] #84 closed

[2019-11-07 13:31] #78 closed

[2019-11-07 14:33] thirdman opened #86 "missing links?"
I possibly caught it on the day you're updating it, but just want to note that the links at the bottom of the readme don't appear to work anymore.

I'm guessing this....

"Add, update & delete documents:  "
needs to point to: https://ijzerenhein.github.io/firestorter/#/./guides/AddUpdateDelete
instead of: https://firestorter.com/guides/AddUpdateDelete.md

Love your work! 😍

[2019-11-07 16:57] IjzerenHein commented on #86
Haha, yes you're right 😅
I'm in the process of publishing an all new Documentation website and Firestorter v2.
Thanks for letting me know, will fix :)
Btw, all the docs  can now be accessed through firestorter.com
cheers!

[2019-11-07 17:20] IjzerenHein commented on #86
Alright it's fixed now!
cheers!

[2019-11-07 17:20] #86 closed

[2019-11-07 17:45] IjzerenHein commented on #85
Hi Sam. I've added the `.opensource/project.json` file to the repo. Let me know if I need to add anything else to it.
Cheers, Hein

[2019-11-07 17:56] samtstern commented on #85
@IjzerenHein LGTM!

Added your repo here:
https://github.com/firebase/firebaseopensource.com/commit/0d34522037aee3d35b2667a49bcce29be878275c

You should be on the site within 24 hours, let me know if you have any issues.

[2019-11-07 17:56] #85 closed

[2019-11-08 13:25] IjzerenHein commented on #85
Sweet! :D

[2019-11-08 21:01] samtstern commented on #85
@IjzerenHein
https://firebaseopensource.com/projects/ijzerenhein/firestorter/

[2019-11-11 14:20] IjzerenHein commented on #85
Sweet!

Page looks good, apart from the badges. @samtstern Do you know what the deal is with the badges, only two are shown. Is the rest filtered out or something?

cheers, Hein

[2019-11-11 16:51] samtstern commented on #85
@IjzerenHein we actually try to remove all badges from the rendered pages (in the top section at least) so from our perspective the bug is the two that remain rather than the ones that are missing.

[2019-11-12 07:58] IjzerenHein commented on #85
@samtstern Ah I see. I kinda figured something like that. Is there something I can do in the Firestorter README.md to assist in that?

[2019-11-12 16:44] samtstern commented on #85
@IjzerenHein I believe this commit will remove the last two badges:
https://github.com/firebase/firebaseopensource.com/commit/9ed3aa89dd13814ef6e753410b84d64be6157b3e

In the end it's just a blacklist.  Like any blacklist, it's always missing things.

[2019-11-12 19:28] IjzerenHein commented on #85
Hehe, and so is the nature of such things :)

I checked, and it all looks now 👍

Thanks for listing this on firebaseopensource.

cheers, Hein

[2019-12-02 07:12] thdk commented on #82
[code]

[2020-02-13 23:39] amirmcs opened #87 "Document updates not working when using react-native FlatList"
I have a strange issue.. When I add/remove document in firebase the page automatically gets refresh and shows the correct docs. But if there is a field update it doesn't refresh. How can I ensure it updates if a field value is updated.

When I debug I see it logs an event whenever a field is changed at the backend. But React-Native view doesn't get re-render.

Collection (projects/RFYD-0635/Member

[2020-02-14 09:26] IjzerenHein commented on #87
It sounds like you haven't wrapped your detail component with `observer`. Could that be the case?

[2020-02-14 16:33] amirmcs commented on #87
I wrapped the component in observer and also tried decorator.

here is the gist. Please see if something wrong.

https://gist.github.com/amirmcs/c716483eb2a972dd02156b5a555e9b2c

Thanks,

[2020-02-16 14:48] tkleisner commented on #80
I had the same error in my React Native app. Try call `initFirestorter` (and maybe `firebase.initializeApp` ?) before class declaration. I think the problem is calling it in componentWillMount method.

`
...
import {initFirestorter, Collection} from 'firestorter';

const config = {
    apiKey: 'AIzaSyDyF8h7SYE3iiYxt-ZAmdXxWu9Pd6cuvxo',
    authDomain: 'manager-31000.firebaseapp.com',
    databaseU

[2020-02-16 16:52] IjzerenHein commented on #87
Ah okay, the problem here is with `<FlatList>` which accesses the data asynchronously, which doesn't play nicely with the `mobx-react` observer pattern. For FlatList is recommend this pattern:

[code]

And then create a separate Component which is wrapped with observer.

[code]

[2020-02-16 21:40] amirmcs commented on #87
It worked nicely. Thank you for the wonderful library.

[2020-02-16 21:44] #87 closed

[2020-02-17 08:36] IjzerenHein commented on #87
Great, glad it worked! Cheers!

[2020-02-18 20:27] gsouf opened #88 "new Document('some/ref'); is not documented"
Tried to work with the document that way:

[code]

I found that ```doc.data.someField``` is always undefined.

Alternatively I tried that:

[code]

Now ```doc.data.someField``` has the expected value.

In the doc I couldn't find any example of how to fetch a document. In the readme the document is instancied in a variable but never used.

[2020-02-18 20:57] gsouf opened #89 "shortcut to get subcollection for a document"
The official firestore client gives us ability to get reference to a subcollection in this way:

[code]

I couldn't find a equivalent way to do that with firestorter. Is it by design or is it something we can add? In that case I'm happy to send a PR

[2020-02-19 08:06] IjzerenHein commented on #89
Hi. You can use use paths like this:

[code]

And for document as well:

[code]

[2020-02-19 08:09] gsouf commented on #89
Hi @IjzerenHein

yes, that's what I did in the interim, but when you have an existing reference to a document it saves the burden of doing a string concatenation.

[code]

[2020-02-19 08:11] IjzerenHein commented on #88
Have you wrapped your component with `observer`?

Documents and collections are typically fetched automatically. This happens magically when you access data from the render function in your React Component; and your component is wrapped with `observer`.

Could you show me code sample that is wrong?

Which doc

[2020-02-19 08:16] IjzerenHein commented on #89
Right okay, I don't really see much benefit of that myself tbh.
But okay, what kind of API update do you have in mind? Please be specific and provide an API proposal.

[2020-02-19 08:19] gsouf commented on #89
@IjzerenHein thinking of adding a method `collection` that would return a ref to the collection with the path from the parent + collection name, and a method `doc` returning a ref to the sub document with the parent. Actually the same way as the official firestore client.

[2020-02-19 08:46] IjzerenHein commented on #89
Can you provide some sample code that shows the API usage and how you would use it?

[2020-02-22 14:03] gsouf commented on #89
Sure...

Given we have a doc ref
[code]

This is how we do now:
[code]

[2020-02-22 14:18] gsouf commented on #88
Hi @IjzerenHein the example I mentioned is the one from the readme.

SoI found that indeed it's working properly without fetch when we use an observer.

I got fooled because usage the fetch method causes`document.isLoading`, but autofetching does not. Also autofetching without the obersver causes `document.data.name` to be undefined in my render method and thus `document.data.something` was throwi

[2020-02-22 14:18] #88 closed

[2020-02-22 14:24] IjzerenHein commented on #89
I've been so free to re-format the code and remove the word "ref" from it. I find "ref" confusing and unnecessary here and implies that it is the same thing as a Firestore Collection/Document reference, which it is not.

Sure...

Given we have a doc ref
[code]

This is how we do now:
[code]

This is the proposal:
[code]

Additionally we could do the following:
[code]

That's equivalent to this sam

[2020-02-22 14:26] IjzerenHein commented on #89
[code]

[2020-02-22 14:41] IjzerenHein commented on #89
Generally, I like your idea. I think the syntax is neat and compact. I do see some issues/questions though that we need to address:

1. As I mentioned before, you can use "reactive" paths as the source for a collection or document. When doing `doc.collection('bla')`, we could create it in two ways:

[code]

or like this:

[code]

Or possibly allow both through an extra argument. Anyway, we would h

[2020-02-22 14:44] IjzerenHein commented on #88
Yes, nothing happens when you don't have your component wrapped with `observer`.

[2020-02-23 09:14] gsouf commented on #89
Thanks for the explanations.

Actually I'm not sure what default would fit better between the simple string approach vs the reactive path. I just started to work on an application using firestorter so I still lack of experience with it to give the right answer. If you recommend usage of reactive path then we probably want to use this one. Because the library is focused on doing things automaticall

[2020-02-24 09:07] IjzerenHein commented on #89
Okay, in that case I will put this feature request on hold for now. I don't want to expand the API footprint with optimisation features that might not get used.

[2020-02-24 21:14] gsouf opened #91 "Feature: collectionGroup queries"
Hi, the official client support collection group queries that allows querying data accross sub collection as if it was an unique collections: https://firebase.google.com/docs/firestore/query-data/queries

Do you have any plans on supporting that?

Always happy to submit a PR

[2020-02-25 09:13] IjzerenHein commented on #91
Hi! There are no plans for implementing this at the moment. I think this would be a great addition to have, a PR would be very welcome! 🙏 👍

[2020-02-29 21:30] MarcDAFrame commented on #47
any update on this feature?

[2020-03-01 20:51] gsouf opened #93 "Collection.query is not working"
Hello,

I have issues using the query option/method of the the collection.

It's not evaluated at all.

The example bellow won't take into account my "limit=3"

[code]

[2020-03-02 08:41] IjzerenHein commented on #47
Unfortunately no. Any PRs in this space are welcome though.

[2020-03-02 08:43] IjzerenHein commented on #93
Hi! There seems to be an error in your code.

[code]

should be:

[code]

or

[code]

[2020-03-02 20:47] gsouf commented on #93
@IjzerenHein thanks for your input but I confirm it does not work, the function passed in the param `query` is not called at all.

[2020-03-02 21:07] IjzerenHein commented on #93
Hmm that is strange indeed. Are you getting any docs at all?

[2020-03-02 21:24] gsouf commented on #93
I'm getting all docs in the collection, like if I didn't specify any query. As I said it's not evaluated at all. So the same occurs with `where` or `orderBy`. Missing something obvious?

[2020-03-02 21:27] gsouf commented on #91
Just a head up. I'm going to implement it sooner or later. Worked around for now will work on it as soon as I need it again.

[2020-03-03 09:27] IjzerenHein commented on #93
That is so weird.. The `query` arg is a critical part of Firestorter, without it you couldn't do any kind of query's, so it's hard to believe it's broken. Can you perhaps share a small sample app on codesandbox/stackblitz that shows the problem?

[2020-03-10 19:17] gsouf commented on #93
found the issue, was related to some tools out of the scope of firestorter sorry for the mess

[2020-03-10 19:17] #93 closed

[2020-03-14 20:39] zeevl opened #96 "Using update in onTextChange"
Hey @IjzerenHein, I've been investigating this package and it seems like a great fit for our project!

One thing that has me concerned, though.  Your example apps call `update` in `onChangeText`, which means the firebase `update` will be called for essentially every key press?   Seems this could get expensive in text-heavy applications..

 Am I understanding this correctly?   I would love to see s

[2020-03-15 12:53] IjzerenHein commented on #96
Hi! Well that's just an example, and it showcases how easy it can be to write some real-time updating code. I can very much imagine that you don't want to send an `update` action for every key-stroke though. In such a case I would just store the content in the state of your component and perhaps send it on accept or unmount. This is something that you would need to do yourself, or perhaps write an

[2020-03-15 16:07] zeevl commented on #96
Thought that might be the case.  Thank you!

[2020-03-15 16:07] #96 closed

[2020-03-20 10:15] RWOverdijk opened #97 "Fetch single document and keep listeners"
I have a list of products, and I have product details. When I go to the product details I'd like to fetch only that specific product. I know I can use `Document` to fetch a single document, but I need a query. And I also need to have listeners.

So: how can I fetch a single document by query, and have it updated when it changes in firestore?

**Update:** I figured out I can use query to fetch a do

[2020-03-20 10:25] RWOverdijk opened #98 "Trigger listener on get"
Where `products` is a `Collection` Is there a way to prevent having to do something like this:

[code]

And instead just allow this:

[code]

Unless I map, the data never gets retrieved. It seems to me that this _could_ be done because it's also possible to Proxy arrays, I just think I don't understand this library very well. 😄

[2020-03-22 11:48] IjzerenHein commented on #98
Hmm, good one.  I guess you would need have a write some kind of helper function for that. Perhaps something like this?

[code]

As for the `docs[0]` construct, I would have expected that to work tbh. Not sure why that doesn't create a MobX reaction, might be a problem with the MobX proxy indeed, or TypeScript might convert it to an unexpected JS construct.

[2020-03-22 11:56] #82 closed

[2020-03-22 12:02] IjzerenHein commented on #97
I'm not sure I fully understand what your asking here..

But I do think the concept of `reactive paths & queries` might be useful here. It allows you to create a document or collection and have the path or query update, depending on the content of another document.

[code]

[2020-03-23 08:48] RWOverdijk commented on #98
@IjzerenHein If you mean typescript on my end, I am sad to say I'm not using typescript (but only because expo init doesn't do what I need right now).

As to the helper, that'd be fine. I can do that.

So what if I need one document's id to find documents from another collection? Practical example:

I have venues. Venues need to be looked up by slug:

[code]

Then I need to use the document ID to

[2020-03-23 10:20] RWOverdijk commented on #80
The problem is when you export constants that are documents and/or collections from store files.

These often get initialized before firestorter does, causing all sorts of odd issues.

[2020-03-23 12:09] #98 closed

[2020-03-26 19:07] #97 closed

[2020-03-26 19:07] RWOverdijk commented on #97
It was silly. I solved it with a new doc and it does listen for changes.

[2020-03-26 19:17] RWOverdijk opened #99 "Optimistic rendering pattern"
This is an architectural question.

I'm working on a shopping cart. Adding an item to the cart will call a firebase function to add it to my order for me (because I don't trust the client) which is working fine. The server makes the change, I get the new value because of onSnapshot.

However, when a user presses the "add" button a bunch of times the quantity takes some time to go up (api needs to

[2020-03-27 20:11] RWOverdijk commented on #99
[code]

@IjzerenHein I've made something that works for me right now (although it's not perfect).

The idea is that I manage my data locally like I expect my API to do if all went well. Once all queued API calls have finished I update the data with what I get onSnapshot.

I also have listeners to check if the items are being observed or not so I don't listen for changes needlessly (basically what

[2020-04-13 09:57] #99 closed

[2020-04-13 10:01] RWOverdijk opened #100 "Geoqueries on boxes"
I have venues with delivery areas that I store inside of boxes. My initial plan was to find all venues that have a box I'm inside of, but unfortunately firestore doesn't allow multi-field range queries.

I want to find all the venues that have a delivery area (box) that the user is inside of. Geohashing works with points, so I'm not quite sure how to solve this.

Do you maybe have any pointers?

[2020-04-14 07:50] IjzerenHein commented on #100
A geohash in itself is not a point but also a box. I guess you could perhaps create a field in each venue doc that holds an array of geohashes. E.g. `area: ['rd56s', 'rd673', ..]`. And then for instance let each geohash have a resolution of about (1000?) meters.
And then calculate the geohash (with that same 1000m resolution) at your current location and use an array-in query to get all venues.

[2020-04-14 08:40] RWOverdijk commented on #100
@IjzerenHein Ah, I see. I actually meant the other way around. The user's location is a point, and I want to check inside of which boxes it belongs.

So the venue has let's say 4 polygons, but I make it a box that contains all of those polygons (using the lowest and highest lat/lon of all polygons).

![image](https://user-images.githubusercontent.com/781745/79203919-08dc1500-7e3c-11ea-98ba-4335040

[2020-05-02 09:33] rollymaduk commented on #53
Hi @IjzerenHein , are you still planning on implementing batch writes for your library?

[2020-05-05 13:10] RWOverdijk commented on #46
Did either of you happen to do this yet? I'm trying to get it working now and... Well, let's just say it's not.

[code]

etc.

[2020-05-05 16:04] rborn opened #102 "ReactNative hotreload error"
Hi, this module is amazing, thanks so much for building it 😻

I have an issue with hotreload in RN, that from time to time I get an error complaining `initFirestorter` was already called.

Is there a way to avoid this? (you need to basically restart the app)

Thanks 🤗

[2020-05-06 08:08] RWOverdijk commented on #46
Looking into this, I think that perhaps firestorter or even mobx wouldn't make sense with next.js.

I found [this article](https://www.themikelewis.com/post/nextjs-with-mobx) which explains how you could use mobx in next, but it feels clunky to me.

[Zeit's swr](https://github.com/zeit/swr) seems capable of listeners and such as well. Working with small functional components with swr should yield

[2020-07-06 11:33] RWOverdijk opened #105 "computed props being called even though no change"
For some reason my computed prop is being called when a different prop on the same document changes:

[code]

For context: "activeMenu" is the id of a different doc from a different collection.

There's a "name" on the same Document. When I change it, the activeMenu getter gets called.

1. Is my approach to have a related document wrong? Or is this computed prop not that weird?
2. Why would changi

[2020-07-06 22:38] damonmaria commented on #105
Guessing as can't see the full context of what you're doing but convert activeMenu into a field and calculate the path, like:

[code]

The Document will handle the reactivity for you.

Try to avoid side-effects (like creating Documents) inside @computed, that generally leads to weirdness and pain.

[2020-07-07 07:57] RWOverdijk commented on #105
But if I remove the computed prop, every change seems to return a new instance of Menu (Menu also extends Document).

What would be the best way to set something like this up then?

[2020-07-08 02:50] damonmaria commented on #105
Just to make sure we're on the same page I was suggesting the following (my previous comment was short as was typed on phone):
[code]

If that is still giving you issues then there might be a complication with having it inside another Document. But I'm totally guessing there.

As a general rule I'd be wary of having links like this. If you're trying to do a relational DB style join then that's not

[2020-07-08 07:33] RWOverdijk commented on #105
Ah! That's new 😄 I've never used this constructor method with documents before, sorry. How does it work/what does it do?

A link to the correct documentation page would also be much appreciated, I can't seem to find it 😅

[2020-07-08 10:00] damonmaria commented on #105
https://ijzerenhein.github.io/firestorter/#/./guides/SourcesPathsAndReferences?id=reactive-path-functions

This applies to both Collections and Documents. Pretty cool eh?

[2020-07-08 10:10] RWOverdijk commented on #105
Well, this works! 🤯

Wait, is this using computedFn by any chance?

[2020-07-08 23:05] damonmaria commented on #105
Dunno what computedFn is :) If this answers your question then can you close the issue.

[2020-07-13 10:37] RWOverdijk commented on #105
It's a function from mobx-utils https://github.com/mobxjs/mobx-utils

It's like computed, but for methods.

[2020-07-13 10:37] #105 closed

[2020-07-13 17:59] damonmaria commented on #105
Thanks @RWOverdijk. Lots of new stuff in there since I last looked.

[2020-08-19 23:39] ChrisCross3 opened #110 "Reference a Document by id, passed from one view to another"
Good evening,
I pass a Document id from one view to another an then want to get access to the Document.

Based on the documentation, I thought I could do this:
`const product = new Document('products/' + props.match.params.id)`

The created object has the right path, but no data.

ATM I do it like this and it works:
`const product = products.docs.find( (doc) => doc.id == props.match.params.id);`

[2020-08-24 22:37] brkastner commented on #58
@samosaboy I was able to work around this issue by extending `Document` & overriding the `observerRef` methods like so:

[code]

[2020-10-22 13:34] cgadam commented on #9
It seems like we're still unable to add a new document to a collection while being offline. (and let the collection decide what its auto id should look like) We can't do what is suggested here: https://github.com/firebase/firebase-js-sdk/issues/2030#issuecomment-516152577 with the current's [Collection](https://ijzerenhein.github.io/firestorter/#/./api/Collection) API.

[2020-11-12 10:27] kaminskypavel opened #115 "Mobx 6 breaking changes"
Mobx 6 dropped `decorate()` , there's a long discussion [here ](https://github.com/mobxjs/mobx/issues/2325)

@IjzerenHein are you willing to release a major if ill submit a PR?

[2020-11-12 16:46] IjzerenHein commented on #115
@kaminskypavel Definitely!

[2020-11-29 14:28] Codemaine opened #116 "Error: Attempted import error: 'decorate' is not exported from 'mobx'."

[2020-11-30 08:35] IjzerenHein commented on #116
Are you using mobx 6?
https://github.com/IjzerenHein/firestorter/issues/115

[2020-12-01 16:59] Codemaine commented on #116
I installed mobs using the code in your documentation

[2020-12-01 17:49] IjzerenHein commented on #116
Is that short for that you don't know? :/

[2020-12-01 18:12] Codemaine commented on #116
yes

[2020-12-08 13:40] robclouth commented on #47
This is what I'm using:
[code]
You define the page size with the limit in the initial query like this:
[code]

It seems to work. @IjzerenHein can you see any potential issues?

[2020-12-14 06:53] thirdman commented on #115
Just a gentle +1 for this. :D

[2020-12-14 13:37] thirdman commented on #46
I'm also getting the `Error: firestorter: cannot get firestore: Error: firest...` issue with next.js, so just arrived here from google. :D  I'm not sure where to init, since I'm basically recreating an app that works in firebase hosting.

Just want to say I enjoyed your ramble.

[2020-12-15 03:18] damonmaria commented on #115
Quick attempt at a PR. Tried to change the 2 uses of `decorate()` to `makeObservable()` (inside the constructors) but this breaks 7 tests. Haven't looked any further than that. Will need a detailed look through the breaking changes of Mobx 6.

[2020-12-22 16:20] alexandarnikita opened #120 "Under init.ts, the exported makeContext function does not have a type of config param."

[2020-12-23 09:45] IjzerenHein commented on #115
MobX 6 is now supported! 🤘🤘🤘🤘🤘🤘
https://github.com/IjzerenHein/firestorter/releases/tag/v3.0.0

[2020-12-23 09:45] #115 closed

[2020-12-23 09:46] IjzerenHein commented on #116
MobX 6 is now supported! 🤘🤘🤘🤘🤘🤘
https://github.com/IjzerenHein/firestorter/releases/tag/v3.0.0

[2020-12-23 09:46] #116 closed

[2020-12-23 09:47] IjzerenHein commented on #110
Did you wrap your React component with observer ?

[2020-12-23 09:51] IjzerenHein commented on #120
`makeContext` has been deprecated, use `makeFirestorterContext` instead which does have a type param

[2020-12-23 09:58] IjzerenHein commented on #102
In order to address that I would recommend checking whether you have called `initFirestorter` already, and don't call it again if you already have

[2020-12-23 10:19] alexandarnikita commented on #120
@IjzerenHein Even though we are not using ```makeContext``` inside of our application, but we are getting compile failed.
The main reason is ```makeContext``` is export function of this module.
We should remove this deprecated function from the init.ts

[2020-12-23 10:33] IjzerenHein commented on #120
Gotcha. You just could have told me in the description you know?

[2020-12-23 10:37] alexandarnikita commented on #120
Sorry about that... Later if there is any new issues comes up, I will write down more details in the description.
When are you going to update this issue and release the next version?

[2020-12-23 10:43] #120 closed

[2020-12-23 10:48] IjzerenHein commented on #120
I've removed the `makeContext` function and just published a new release:
https://github.com/IjzerenHein/firestorter/releases/tag/v3.0.1

[2020-12-23 16:48] nikita-inbev opened #129 "Attempted import error: 'makeObservable' is not exported from 'mobx'."
The new version 3.0.1 has another new error
"Attempted import error: 'makeObservable' is not exported from 'mobx'."

![image](https://user-images.githubusercontent.com/76530458/103019355-fa0b3d80-4546-11eb-8b54-fecc4c308115.png)
@IjzerenHein

[2020-12-23 18:36] IjzerenHein commented on #129
The new v3 version is compatible with MobX 6. If you want to use MobX 5 or 4, you'll need to stick with the older v2 version.

[2021-01-11 09:07] rborn commented on #102
@IjzerenHein I managed by patching the module and convert the error in a warning. The hot reload from ReactNative reloads all the code, so `initFirestorter` gets called again and there is not much you can do.

[2021-02-06 16:57] #129 closed

[2021-02-06 16:57] #110 closed

[2021-02-06 16:58] #102 closed

[2021-02-06 16:59] #80 closed

[2021-02-17 15:59] mattheusphilipe commented on #80
Thanks for the tip, I started using dinamyc imports in my index app files to avoid this issue. Now I just import my components after my app have finished  initFirestore.

[2021-04-17 17:05] aaroniker opened #133 "Remove require()"
Really like this package!
But since im using Snowpack it would be great to remove all require() and replace them with import to not mix ESM and CJS code.

Discussion about this: https://github.com/snowpackjs/snowpack/discussions/1321

[2021-04-21 07:55] IjzerenHein commented on #133
I guess you are referring to the lodash imports? Correct?

[code]

[2021-04-21 09:37] aaroniker commented on #133
Correct :)

[2021-04-21 10:27] IjzerenHein commented on #133
Alright.

Yes please :)

[2021-04-21 17:54] aaroniker commented on #133
Just did https://github.com/IjzerenHein/firestorter/pull/134

[2021-08-21 05:26] ddikodroid commented on #84
Is it still support the latest version of react native firebase?

[2021-08-23 08:46] IjzerenHein commented on #84
As far as I'm aware yes. But if it doesn't please open a issue or PR.

[2021-08-24 23:41] SrBrahma opened #150 "Change document ref on the fly?"
I am considering using this lib, instead of doing the mobx by hand.

But, lets say that I, an User, just logged in. I want my ref to be set to my users/uid. But what to do when I logout and login, changing user uid? How to handle both cases, specially when the user is no longer logged?

[2021-08-25 09:07] IjzerenHein commented on #150
Yeah that's super easy to do. I usually have an `Auth` helper class that listens to auth changes and sets an observable accordingly. You can then use that observable in your document source function (which should return a ref or a field-path), which then automatically updates the document ref when your auth changes.

[code]

<details>
  <summary>Auth.ts</summary>

[code]
</details>

[2021-08-25 12:00] shadabfaiz-cawstudios opened #151 "Creating Generics"
[QUESTION]
In typescript we can create a generic interface like:
[code]

How can i achieve similar result with superstruct?

[2021-09-14 18:38] SrBrahma opened #154 "How to get many documents with specific ids?"
There is the getAll from Firestore and getMany from Typesaurus, but I couldn't find a function in Firestorter to get multiple documents with specific ids. My case is: the User has a doc that contains some stuff ids. I want to get those stuff documents for further info display.

[2021-09-21 12:51] IjzerenHein commented on #154
This feature doesn't exist yet in firestorter

[2021-09-28 20:16] #154 closed

[2021-09-28 20:16] SrBrahma commented on #154
Thanks!

[2021-09-28 20:22] SrBrahma opened #157 "Does it support firebase 9 in the new modular mode?"
I am deciding if I should move to firebase 9 in the new modular mode, or use the compat mode while the libs that I use like this one still don't support it. I am almost certain that it doesn't, but I am asking here to be fully certain.

Thanks!

[2022-03-17 13:38] IjzerenHein commented on #133
The build tooling has been completely overhauled. There should no longer be any `require` calls in the code. Please upgrade to v4 and let me know in case there are still issues.
https://github.com/IjzerenHein/firestorter/releases/tag/v4.0.0

[2022-07-27 00:45] AdamDorwart opened #174 "Remove *.ts files from web/* in release"
Currently running into issues where web pack is trying to use `web/index.ts` and failing. Seems like the `*.ts` files should just be removed from released package anyway. Confirmed that removing the files gets everything working well. Current work around involves modifying webpack config to build just this package inside node_modules. Haven't figured out how to get it to prefer the `*.d.ts` yet.

[2022-07-29 05:05] omarsourour commented on #99
@RWOverdijk Did you ever find a way to support optimistic updates natively or cleanly using firestorter?

[2022-07-29 06:59] RWOverdijk commented on #99
No. But I also don't use it anymore so maybe someone else has a better answer.